.header {
  display: flex;
  justify-content: space-between;

  .secondary-cta {
    margin-left: auto;
  }

  .header-right {
    text-align: right;
  }

  .header-link {
    font-weight: bold;
    text-decoration: none;

    & + .header-link {
      margin-left: 1.5rem;
    }
  }

  @media only screen and (max-width: 576px) {
    .secondary-cta {
      border: 0;
      padding: 0;
      line-height: 1rem;
    }

    .header-link {
      font-size: calc(15rem / 16);
      line-height: 1rem;

      & + .header-link {
        margin-left: 1rem;
      }
    }
  }
}

.header-main {
  padding: var(--grid-outer-padding);

  &.announcement {
    padding-top: 5rem;
  }
}

#announcement {
  display: flex; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  background-color: var(--color-main-blue);

  p {
    margin: auto; /* Important */ 
    text-align: center; 
    color: white;
    font-size: calc(16rem/16);

    @media only screen and (max-width: 576px) {
      font-size: calc(13rem/16);
    }
  }
}

.header-short {
  height: 3.5rem;
  justify-content: flex-start;
  margin-bottom: 3rem;
  padding: calc(var(--grid-outer-padding) / 2);

  .search-form {
    margin-left: .5rem;
    width: 50%;

    input, select {
      display: inline-block;
      height: 2.5rem;
      line-height: 2.5rem;

      & > * + * {
        margin-left: .5rem;
      }
    }
  }

  .secondary-cta {
    height: 2.5rem;
    line-height: 2.2rem;
  }
}

#logo-small {
  background: image-url('logo-small.svg') no-repeat;
  display: block;
  float: left;
  height: 2.5rem;
  width: 2.5rem;

  &:hover {
    background-image: image-url('logo-small-home.svg');
  }
}

.content-page #header-main:before,
.header-short:before {
  background-color: var(--color-light-blue);
  content: '';
  height: 30rem;
  left: 0;
  margin-left: calc(-100vw / 2 + var(--grid-max-width) / 2);
  position: absolute;
  top: 0;
  width: 80%;
  z-index: -1;
}

.sellers.show .header-short:before {
  height: 40rem;
}



@media only screen and (max-width: 1288px) {
  .content-page #header-main:before,
  .header-short:before {
    margin-left:  -10%;
  }
}

@media only screen and (max-width: 1024px) {
  .header-short.search-form {
    width: 60%;

    & > * {
      width: 30%;
    }
  }
}

@media only screen and (max-width: 768px) {

  .header-main {
    margin-bottom: 2rem;
    padding: calc(var(--grid-outer-padding) / 2);
  }

  .header-short{
    flex-wrap: wrap;
    height: auto;

    .search-form  {
      float: none;
      margin-left: 0;
      width: 100%;

      & > * {
        margin-left: 0;
        margin-top: .5rem;
        width: 100%;
      }
    }

    .secondary-cta {
      position: absolute;
      right: 1rem;
      top: 1rem;
    }
  }

}

@media only screen and (max-width: 667px) {
  .content-page #header-main:before,
  .header-short:before {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    right: 50%;
    width: 100vw;
  }
}

@media only screen and (max-width: 576px) {
  .sellers.show .header-short .search-form  {
    display: none;
  }

  .header-short {
    position: relative;

    &:before {
      height: 100%;
    }
  }
}
