.kicker-bg {
  background-color: var(--color-main-red);
  position: absolute;
  top: 0;
  left: -2rem;
  height: 27rem;
  width: 69vw;
  z-index: -1;

  @media only screen and (max-width: 850px) {
    width: auto;
    right: -2rem;
    height: 30rem;
  }


  @media only screen and (max-width: 375px) {
    width: auto;
    right: -2rem;
    height: 40rem;
  }
}

#kicker {
  position: relative;
  padding: 8rem 0;

  h2 {
    color: white;
  }

  h2:before {
    background-color: white;
  }

  .search-form {
    margin-top: 3rem;
  }

  @media only screen and (max-width: 768px) {
    .search-form {
      width: 100%;
    }
  }
}
