.payments.new {

  .voucher-detail {
    margin-bottom: 2rem;
  }


  .payment-methods {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: .5rem 0;

    @include media-breakpoint-up(lg) {
      justify-content: space-between;
    }

    @include media-breakpoint-up(576px) { // martelada
      justify-content: flex-start;
    }

    .method {
      height: 140px;
      width: 140px;
      border: 2px solid $black;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      + .method {
        margin-left: .5rem;
      }

      input {
        display: none;
      }

      &.selected {
        background-color: var(--color-light-blue);
      }
    }

  }

  .button {
    width: 140px;
  }

  @include media-breakpoint-up(sm) {
    .payment-methods {
      .method {
        height: 175px;
        width: 175px;
      }
    }

    .button {
      width: 175px;
    }
  }
}

#paymentModal {

  .logo {
    text-align: center;
  }

  .payment-info {
    margin: 2rem auto;

    th {
      text-align: left;
      min-width: 8rem;
    }

    td {
      text-align: right;
    }
  }

  .instructions {
    font-size: 1rem;
    margin: 2rem auto;
  }

  @include media-breakpoint-up(sm) {
    .instructions {
      max-width: 80%;
    }
  }
}
