.header {
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--grid-outer-padding) 1rem;

  .secondary-cta {
    margin-left: auto;
  }

  .header-right {
    margin-left: auto;
    text-align: right;

    > * + * {
      margin-left: 1.5rem;
    }
  }

  .header-link {
    font-weight: bold;
    text-decoration: none;
  }

  @media only screen and (max-width: 576px) {
    .secondary-cta {
      border: 0;
      line-height: 1rem;
      padding: 0;
    }

    .header-link {
      font-size: calc(15rem / 16);
      line-height: 1rem;
    }
  }
}

#announcement {
  background-color: var(--color-main-blue);
  display: flex;
  height: 3rem;

  p {
    color: white;
    font-size: calc(16rem/16);
    margin: auto; /* Important */
    text-align: center;

    @media only screen and (max-width: 576px) {
      font-size: calc(13rem/16);
    }
  }
}

.header-short {
  height: 3.5rem;
  justify-content: flex-start;
  margin-bottom: 3rem;
  padding: calc(var(--grid-outer-padding) / 2);

  .search-form {
    margin-left: .5rem;
    width: 50%;

    input, select {
      display: inline-block;
      height: 2.5rem;
      line-height: 2.5rem;

      & > * + * {
        margin-left: .5rem;
      }
    }

    .select2-container {
      height: 2.5rem;
      line-height: 2.5rem;

      .select2-selection {
        height: 2.5rem !important;
      }

      .select2-selection__rendered {
        line-height: 2.5rem;
      }
    }

  }

  .secondary-cta {
    height: 2.5rem;
    line-height: 2.2rem;
  }
}

#logo-small {
  background: image-url('logo-small.svg') no-repeat;
  display: block;
  float: left;
  height: 2.5rem;
  width: 2.5rem;

  &:hover {
    background-image: image-url('logo-small-home.svg');
  }
}

.content-page #header-main:before,
.header-short:before {
  background-color: var(--color-light-blue);
  content: '';
  height: 30rem;
  left: -10rem;
  margin-left: calc(-100vw / 2 + var(--grid-max-width) / 2);
  position: absolute;
  right: 24vw;
  top: 0;
  z-index: -1;
}

.sellers.show .header-short:before {
  height: 40rem;
}


@media only screen and (max-width: 1288px) {
  .content-page #header-main:before,
  .header-short:before {
    margin-left:  -10%;
  }
}

@include media-breakpoint-down(lg) {
  .header-short.search-form {
    width: 60%;

    & > * {
      width: 30%;
    }
  }
}

@include media-breakpoint-down(md) {
  .header-main {
    margin-bottom: 2rem;
    padding: calc(var(--grid-outer-padding) / 2);
  }

  .header-short{
    flex-wrap: wrap;
    height: auto;

    .search-form  {
      float: none;
      margin-left: 0;
      width: 100%;

      & > * {
        margin-left: 0;
        margin-top: .5rem;
        width: 100%;
      }
    }

  }
}

@include media-breakpoint-down(sm) {

  .content-page #header-main:before,
  .header-short:before {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    right: 50%;
    width: 100vw;
  }

  .sellers.show .header-short .search-form  {
    display: none;
  }

  .header-short {
    position: relative;

    &:before {
      height: 100%;
    }
  }

  .header {
    padding-top: calc(var(--grid-outer-padding) / 2);
  }

  .header .header-right {
    * {
      line-height: 2.5rem;
    }

    > * + * {
      margin-left: 1rem;
    }
  }
}
