.spinner-wrapper {
  margin-bottom: 2rem;
  position: relative;
}

.hero-ticker {
  display: inline-block;
  height: 4.5rem;
  position: absolute;
  width: 100%;

  @media only screen and (max-width: 375px) {
    &::after {
      display: none;
    }
  }

  span {
    animation: rotateWord 6s linear 0s infinite;
    display: inline-block;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
  }

  @for $i from 1 to 20 {
    span:nth-child(#{$i}) {
      animation-delay: ($i - 1) * 1.2s;
    }
  }
}

@keyframes rotateWord {
  0% {
    opacity: 0;
  }

  2% {
    opacity: 0;
    transform: translateY(-30px);
  }

  5% {
    opacity: 1;
    transform: translateY(0);
  }

  17% {
    opacity: 1;
    transform: translateY(0);
  }

  20% {
    opacity: 0;
    transform: translateY(30px);
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
