.insurance-logos {
  margin-top: 1rem;
  display: flex;
  background-color: $lightgrey;

  .insurance-logo {

    &.logo-ageas {
      flex: 2;
    }

    &.logo-keepwarranty {
      flex: 3;
    }

    img {
      width: 100%;
    }
  }
}
