.form-control {
  appearance: none;
  background-color: $white;
  border-radius: 0;
  border: 0;
  box-shadow: $input-box-shadow;
  box-sizing: border-box;
  height: 3rem;
  line-height: 3rem;
  outline: 0;
  padding: 0 1rem;
}

select {
  background: image-url('icon-arrow-down.svg') $white right .5rem center no-repeat;
}

input:not(.form-control):not([type="file"], [type="radio"], [type="checkbox"], [type="submit"]),
select:not(.form-control) {
  appearance: none;
  background-color: $white;
  border-radius: 0;
  border: 0;
  box-shadow: $input-box-shadow;
  box-sizing: border-box;
  height: 3rem;
  line-height: 3rem;
  outline: 0;
  padding: 0 1rem;
}

::placeholder {
  color: $black;
  opacity: .3;
}

.primary-cta {
  background: var(--color-main-blue);
  border-radius: 0;
  border: 0;
  color: $white;
  display: inline-block;
  font-size: calc(17rem / 16);
  font-weight: bold;
  height: 3rem;
  line-height: 3rem;
  outline: 0;
  padding: 0 1rem;
  text-decoration: none;
  vertical-align: bottom;

  &:active,
  &:focus,
  &:hover {
    background: $primary-cta-hover-bg;
    color: $white;
    cursor: pointer;
  }

  &:active,
  &:focus {
    box-shadow: $btn-active-box-shadow;
  }
}

.btn-primary {
  font-size: calc(17rem / 16);
  font-weight: bold;
  height: 3rem;
  padding: 0 1rem;
  text-decoration: none;
  vertical-align: bottom;

  &:focus,
  &:hover {
    background-color: $primary-cta-hover-bg;
    color: $white;
    cursor: pointer;
  }

  &:focus {
    box-shadow: $btn-focus-box-shadow;
  }

  &:not(:disabled):not(.disabled):active {
    background-color: $primary-cta-hover-bg;

    &:focus {
      box-shadow: $btn-active-box-shadow;
    }
  }
}

.secondary-cta {
  border: 2px solid var(--color-main-blue);
  box-sizing: border-box;
  color: var(--color-main-blue);
  display: inline-block;
  font-size: calc(17rem / 16);
  font-weight: bold;
  height: 3rem;
  line-height: 2.8rem;
  padding: 0 1rem;
  text-decoration: none;

  &:hover {
    background: var(--color-light-blue);
  }
}
