.search-form {
  display: flex;
  justify-content: flex-start;

  & > * {
    flex: 1;
    margin-right: 1%;
    min-width: 150px;
    min-height: 2.5rem;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}
