$footer-height: 6rem;

:root {
  --color-main-blue: #00093C;
  --color-light-blue: #EFF5FF;
  --color-main-red: #D12136;


  --h1-font-size: calc(60rem/16);
  --h1-line-height: calc(64/60);
  --h2-font-size: calc(36rem/16);
  --h2-line-height: calc(40/36);
  --h3-font-size: calc(20rem/16);
  --h3-line-height: calc(24/20);

  --p-font-size: calc(20rem/16);
  --p-line-height: calc(24/20);

  --grid-max-width: 1224px;
  --grid-outer-padding: 32px;
}

// Bootstrap overrides

$blue:    #00093C !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;


$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1288px
) !default;

$modal-content-border-radius: 0;

$primary-cta-hover-bg: #00158a;
$input-box-shadow: 0 2px 8px rgba(0, 0, 0, .09);

$btn-border-width: 2px;
$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;

$btn-active-box-shadow: 0 0 0 .2rem rgba($primary-cta-hover-bg, .5);
$btn-focus-box-shadow: $btn-active-box-shadow;

$font-family-sans-serif: "GangsterGrotesk", Helvetica, sans-serif;
$font-family-base: $font-family-sans-serif;


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  lg2: 1024px,
  xl: 1200px
);


// End bootstrap overrides

$spinner-element-bg: .5rem solid rgba(255, 255, 255, .2);
$spinner-element-fg: .5rem solid $primary-cta-hover-bg;

$progress-bg-color: #EFF5FF;