.form-control {
  box-sizing: border-box;
  appearance: none;
  outline: 0;
  border: 0;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
  background-color: $white;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, .09);
  border-radius: 0;
}

select {
  background: image-url('icon-arrow-down.svg') $white right .5rem center no-repeat;
}

input:not(.form-control):not([type="file"], [type="radio"], [type="submit"]),
select:not(.form-control) {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: 0;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
  background-color: $white;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, .09);
  border-radius: 0;
}

::placeholder {
  color: $black;
  opacity: .3;
}

input[type="submit"],
.primary-cta {
  display: inline-block;
  height: 3rem;
  padding: 0 1rem;
  background: var(--color-main-blue);
  font-weight: bold;
  font-size: calc(17rem / 16);
  line-height: 3rem;
  text-decoration: none;
  color: $white;
  border-radius: 0;
  vertical-align: bottom;
  border: 0;

  &:hover {
    background: $primary-cta-hover-bg;
    color: $white;
    cursor: pointer;
  }
}

.secondary-cta {
  display: inline-block;
  height: 3rem;
  padding: 0 1rem;
  border: 2px solid var(--color-main-blue);
  font-weight: bold;
  font-size: calc(17rem / 16);
  line-height: 2.8rem;
  text-decoration: none;
  color: var(--color-main-blue);
  box-sizing: border-box;

  &:hover {
    background: var(--color-light-blue);
  }
}
