.registrations {
  #hero + .section {
    margin-top: 4rem;
  }
}

.register-form-section {
  margin-top: 2rem;
}


.new_seller_user {
  margin-bottom: 5rem;

  input:not[type='radio'],
  select {
    display: block;
    width: 100%;
  }

  label {
    display: block;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
  }

  .form-check label {
    margin: 0;
    margin-top: .4rem;
  }

  input[type="submit"] {
    margin-top: 2rem;
  }
}

#eupago-register {
  margin-top: 2rem;
}
