.sellers.show {
  #place-back {
    position: absolute;
    top: 6rem;
  }

  #place-hero {
    margin-top: 6rem;
  }

  #hero-text {
    .primary-cta {
      margin-top: 2rem;
    }

    .secondary-cta {
      margin-top: 2rem;
    }

    .primary-cta + .secondary-cta {
      margin-left: 0.5rem;
    }
  }

  #new_voucher {
    position: relative;
    padding: 0;
    margin-top: 4rem;

    input[type="submit"] {
      display: block;
      margin-top: 2rem;
    }

    span {
      display: block;
      margin-top: 1rem;
      font-size: calc(13rem / 16);
      line-height: calc(16 / 13);
    }

    .voucher_value {
      position: relative;
      margin: 1rem 0;
      display: flex;
      padding-right: 1rem;
    }

    .form-check {
      flex: 1;

      & + .form-check {
        margin-left: .75rem;
      }
    }
  }

  .radio_buttons {
    display: none;
  }

  .form-check-label {
    width: 100%;
    display: inline-block;
    border: 2px solid var(--color-main-blue);
    height: 2.5rem;
    line-height: 2.3rem;
    padding: 0 1rem;
    font-weight: bold;
    color: var(--color-main-blue);
    box-sizing: border-box;
  }

  input[type="radio"] + .form-check-label:first-of-type {
    margin-left: 0;
  }

  input[type="radio"] + .form-check-label:hover {
    background-color: var(--color-light-blue);
  }

  input[type="radio"]:checked + .form-check-label {
    background-color: var(--color-main-blue);
    color: white;
  }

    input[type="number"] {
    width: 47.7272727273%;
  }

  .euro {
    position: relative;

    input {
      padding-left: 2.5rem;
    }

    &:after {
      content: "€";
      position: absolute;
      left: 1rem;
      line-height: 3rem;
    }
  }

  .link {
    position: relative;

    &:after {
      content: "🔗";
      position: absolute;
      left: 1rem;
      line-height: 3rem;
    }

    input {
      padding-left: 3rem;
    }
  }

  #share-box {
    margin-top: 2rem;
  }

  @media only screen and (max-width: 1288px) {
    #new_voucher:before {
      margin-left: -10%;
    }
  }

  @media only screen and (max-width: 768px) {

    #new_voucher {
      width: 100%;
      margin-left: 0;
    }

    #place-back {
      position: relative;
      top: -2rem;
    }

    .sellers-show input[type="number"] {
      width: 100%;
    }
  }

  @media only screen and (max-width: 375px) {
    #place-hero #hero-img {
      display: block;
      position: relative;
    }

    #place-hero .row {
      display: flex;
      flex-direction: column-reverse;
    }

    #hero-img {
      margin-bottom: 2rem;
    }
  }
}
