- content_for :header do
  = render "partners/#{@partner.slug}/header"

.container-xl.content
  .row
    .col-12.col-xl-8.offset-xl-2
      markdown:
        # Termos e Condições da Ação Apoia o Teu Salão

        ## OBJETO/ÂMBITO DA AÇÃO

        1. PROMOVIDO pela plataforma Preserve.pt, gerida pelo movimento Tech4Covid19 (doravante "Plataforma" ou "Preserve" ou "Tech4Covid"), em colaboração com a Cosmenatura - Importadores de produtos de beleza, Lda, NIPC – 502894130, com sede na Rua 5 de Outubro 2633, 4430-806 Avintes, matriculada na Conservatória Do Registo Comercial de Vila Nova de Gaia, com Capital Social – 90.000.000€ (doravante designada por "Cosmenatura") 

        2. Os consumidores e pontos de venda clientes da Cosmenatura deverão ler atentamente os presentes Termos e Condições (doravante designados por "Termos Apoia o Teu Salão") antes de acederem ou aderirem à ação Apoia o Teu Salão. A adesão a esta ação estará ainda sujeita aos termos e condições previstos nos Termos e Condições de utilização da Plataforma (doravante designados por "Termos Preserve"). No caso de participação e adesão à ação Apoia o Teu Salão, os Termos Apoia o Teu Salão prevalecem, em caso de conflito ou divergência, relativamente aos Termos Preserve. O processamento de pagamentos a estabelecimentos parceiros estará igualmente sujeito aos termos e condições e à política de privacidade da entidade emissora dos meios de pagamento ou da entidade que presta os serviços de pagamento. 

        3. Estes Termos Apoia o Teu Salão regulamentam a adesão à ação Apoia o Teu Salão e constituem um acordo vinculativo (doravante designado por "Acordo Cosmenatura") entre o Consumidor (doravante "Consumidor"), os Pontos de Venda Elegíveis e a Cosmenatura, em complemento ao acordo decorrente dos Termos Preserve, que regulamenta o acesso e uso do website da Preserve e da Plataforma (conforme definidos nos referidos Termos Preserve). 

        ## II. FINALIDADE DA ACÇÃO

        1. Apoia o Teu Salão é uma iniciativa de colaboração entre a Cosmenatura e a Tech4Covid na Plataforma, com a colaboração da entidade de pagamento EuPago, que tem por objetivo de apoiar os retalhistas/ pontos de venda que vendam produtos Lisap Milano e Paul Mitchell (doravante "PdV LM PM"), no contexto atual de estado de emergência por força do COVID-19 (que ditou o encerramento temporário de muitos estabelecimentos). Tal apoio concretiza-se na promoção/divulgação da aquisição de vouchers, os quais poderão ser trocados por produtos/serviços, no valor correspondente ao voucher adquirido, aquando da reabertura dos estabelecimentos dos PdV LM PM, sendo que, por cada voucher adquirido, a Cosmenatura (sujeito aos limites de valor e quantidade definidos em baixo), atribuirá um incentivo adicional aos PdV LM PM – ver condições de vouchers abaixo.

        ## III. COMO FUNCIONA A AÇÃO

        1. A Preserve (preserve.pt) é uma plataforma online desenvolvida pela Tech4Covid, com o objetivo de ajudar estabelecimentos que, decorrente do surto de Covid-19, se encontram em situação de crise. Com a colaboração da Cosmenatura, a Tech4Covid desenvolveu uma Plataforma sub-página paralela (cosmenatura.preserve.pt) através da qual a Cosmenatura, em colaboração com a Tech4Covid19, desenvolveu uma página na Plataforma preserve.pt (cosmenatura.preserve.pt), na qual os Consumidores da Plataforma podem adquirir vouchers relativos a produtos e serviços disponibilizados pelos PdV LM PM que tenham expressa e previamente aderido à iniciativa e se tenham inscrito na referida Plataforma. 

        2. Esses vouchers serão, posteriormente, trocados por produtos ou serviços logo que os estabelecimentos dos PdV LM PM reabram. Por cada voucher adquirido, será atribuído uma oferta de 5€ ao montante do voucher adquirido pelo Consumidor LM PM. Por exemplo, se o Consumidor LM PM adquirir um voucher de 20€ para troca no PdV LM PM escolhido, receberá um voucher de 25€ – ver condições de vouchers infra.
          1. A iniciativa Apoia o Teu Salão está limitada, apenas e só, a PdV LM PM (englobando-se aqui os PdV que são clientes diretos da Cosmenatura em Portugal Continental e nas Açores, que tenham expressa e previamente aderido à iniciativa e se tenham inscrito na referida Plataforma (e correspondente registo na Eupago), não sendo atribuíveis a quaisquer outros parceiros ou estabelecimentos registados na Plataforma preserve.pt.
          2. A página desenvolvida para este efeito, na Plataforma preserve.pt, será divulgada através dos meios de comunicação digital da Cosmenatura e dos meios de comunicação digital disponibilizados pela Tech4Covid.

        ## IV. CONDIÇÕES DOS VOUCHERS

        ### A. Processo de redenção:

        1. Após cada pagamento efetuado com sucesso, o Consumidor LM PM receberá o seu voucher via e-mail, juntamente com um comprovativo de pagamento.
        2. O Consumidor LM PM deverá dirigir-se ao estabelecimento do PdV LM PM escolhido e apresentar o seu comprovativo digital para redimir o voucher.
        3. Os vouchers apresentados no PdV LM PM serão validados pelo responsável do estabelecimento, que procederá à entrega de produto/serviço equivalente ao valor do voucher entregue.
        4. A Preserve e a Cosmenatura não são responsáveis, nem têm controlo, nem prestam qualquer garantia sobre a prestação dos serviços prestados pelos Parceiros Cosmenatura, bem como sobre a qualidade, pontualidade ou qualquer outro aspeto relacionado com aqueles.

        ### B. Validade dos vouchers:

        1. Cada voucher adquirido será válido e limitado a uma única utilização.
        2. Não é permitida a reprodução, edição, manipulação ou revenda dos vouchers. Em caso de suspeita fundamentada de ocorrência de qualquer uma dessas ações, a Preserve ou a Cosmenatura, reservam-se o direito de tomar todas as medidas que entendam por adequadas, nomeadamente junto do respetivo PdV LM PM e das autoridades competentes.
        3. Os vouchers referentes à ação Apoia o Teu Salão estarão disponíveis para aquisição em cosmenatura.preserve.pt, até decisão da mesma em terminar a venda dos mesmos.
        4. Os vouchers referentes à ação Apoia o Teu Salão poderão ser redimidos 24 meses após a respetiva emissão.

        ### C. Valor de vouchers:

        1. O Consumidor LM PM poderá adquirir vales entre 20€ e um máximo de 200€;
        2. O número de vouchers que cada Consumidor LM PM pode adquirir para ajudar os seus PdV LM PM favoritos é ilimitado, sendo, no entanto, a desconto de 5€  é limitado, aplicando-se exclusivamente às seguintes condições:
          1. a oferta de 5€ ao Consumidor LM PM é limitado aos primeiros 54 vouchers vendidos por cada PdV LM PM na plataforma
          2. a oferta da Cosmenatura ao PdV LM PM, de 1 tubo de coloração LK, Easy Absolute ou the Demi por voucher, é limitada ao máximo de 54 vouchers usados pelo Consumidor LM PM nesse PdV LM PM (representam uma oferta extra que pode ir até ao máximo de 475€ em produto).
          3. cada PdV LM PM pode trocar até o máximo de 18 vouchers, por coloração LK e Easy Absolute, e o máximo de 15 frascos de the Demi, por cada 250€ de encomenda à Cosmenatura em produtos Lisap Milano ou Paul Mitchell, conforme condições comerciais apresentadas e a acumular com as restantes medidas de apoio definidas pela Cosmenatura.
        3. A quantidade de produto ou de serviços equivalente ao valor do voucher entregue no momento de redenção será determinada pelo Preço de Venda ao Público (doravante "PVP") do produto ou serviços em vigor no estabelecimento do PdV LM PM em questão. Caso o Consumidor LM PM pretenda adquirir maior quantidade de produto ou serviço do que aquela a que o voucher corresponde face ao PVP praticado no estabelecimento do PdV LM PM em questão, o Consumidor LM PM deverá efetuar o pagamento da quantidade excedente ao PdV LM PM. A definição dos preços e de todas as demais condições de venda dos produtos/serviços é da exclusiva responsabilidade e decisão dos PdV LM PM, não tendo a Cosmenatura ou Preserve qualquer intervenção neste processo, seja de que forma for.
        4. Caso o PdV LM PM escolhido pelo Consumidor não reabra (de forma provisória ou permanente, qualquer que seja o motivo subjacente) antes do Consumidor LM PM efetuar a redenção do vale adquirido, a Cosmenatura e a Preserve não terão qualquer responsabilidade pela infeliz situação, sendo um risco que o Consumidor, bem como a Cosmenatura estão dispostos a correr ao adquirir os vouchers.

        ### D. Cancelamento e Reembolso de Vouchers Adquiridos

        1. O Consumidor poderá exercer o direito de resolução e cancelamento de qualquer voucher adquirido sem que lhe seja exigida qualquer indemnização, no prazo de 14 (catorze) dias a contar da data de receção do voucher. No caso do voucher adquirido consistir num voucher alvo da oferta de 5€ segundo os critérios estabelecidos acima nos presentes Termos Apoia o Teu Salão, apenas o valor pago pelo Consumidor LM PM será alvo de reembolso.

        ### F. Pagamento e Faturação de Vouchers

        1. Os termos de pagamento e faturação dos vouchers a adquirir através da Plataforma são definidos de acordo com as condições da Plataforma de Pagamento Eupago e do Parceiro em questão, tal como previsto nos termos da Preserve estão previstos nos Termos Preserve. Como tal, a aquisição de vouchers a PdV LM PM estará, conforme referido em cima, sujeita a esses termos, cujas condições mais relevantes indicamos de seguida por uma questão de facilidade, devendo os mesmos interpretar-se de acordo com as definições estabelecidas nos Termos Preserve e, relativamente a Consumidores adquirentes de vouchers a PdV LM PM, de forma adaptada aos Termos Apoia o Teu Salão:

          1. A utilização da Plataforma é gratuita;
          2. O Utilizador pode, a qualquer momento, solicitar o cancelamento da sua conta.
          3. O valor do voucher é definido pelo Utilizador que decidirá o montante que pretende atribuir;
          4. Os preços dos vouchers são fixados em euros e os pagamentos deverão ser realizados nessa moeda ao Parceiro.
          5. Os pagamentos deverão ser realizados através da Instituição de Pagamento Eupago.
          6. A aceitação de pagamentos pelo Parceiro obriga ao seu registo na Eupago aquando do registo na Plataforma.
          7. O processamento de pagamentos está sujeito aos Termos e Condições e à Política de Privacidade do emissor dos meios de pagamento ou da Instituição que presta os Serviços de pagamento.
          8. É da inteira responsabilidade do Utilizador promover as operações bancárias e eventuais autorizações que o habilitem a realizar compras online.
          9. O processo de faturação estará a cargo da Eu Pago. A Preserve e Cosmenatura não tem qualquer intervenção a este propósito.

        2. Os Pagamentos dos vouchers, feitos pelos Consumidores aos PdV LM PM corretamente registados, deverão ser recebidos em poucos dias. Se o método de distribuição e validação de vouchers for alterado, o Consumidor será avisado por email e deverá substituir os vouchers entretanto recebidos (que se tornarão inválidos) pelos novos, sem prejuízo para si.

        ## V. REGISTO E CONDIÇÕES DE ADESÃO DE PONTOS DE VENDA

        1. Estão abrangidos na ação Apoia o Teu Salão todos os PdV LM PM (clientes diretos da Cosmenatura e seus distribuidores, com indicação prévia destes), que devem registrar-se através do seguinte link cosmenatura.preserve.pt para participar nesta campanha de solidariedade.
        2. Para criar uma conta na Plataforma, os PdV LM PM aderentes deverão facultar as informações requeridas na Plataforma e realizar o Registo na EuPago.
        3. Ao registar-se, os PdV LM PM comprometem-se a efetuar o serviço correspondente ao valor do voucher adquirido pelos Consumidores na Plataforma preserve.pt, mediante a sua apresentação em PdV LM PM após a reabertura dos mesmos ao público e por um período de 24 meses após a sua aquisição.
        4. A redenção do valor dos vouchers em serviços/produtos a efetuar pelo PdV LM PM deverá ter por base o PVP em vigor no seu estabelecimento.
        5. Os PdV LM PM só poderão receber valores pagos pelos Consumidores na aquisição de vouchers se todas as informações forem inseridas corretamente no registo da ação Apoia o Teu Salão e após concluírem o respetivo registo, também assegurando a validade dos dados, junto da entidade que processa o pagamento EuPago. A Cosmenatura e a Preserve.pt não se responsabilizam por qualquer pagamento que não seja possível efetuar por imprecisão ou falta de dados fornecidos pelo PdV LM PM em questão.
        6. A Preserve pode, diretamente ou com base em indicação da Cosmenatura, a qualquer momento, cancelar ou eliminar contas caso alguma das partes não cumpra os Termos Preserve ou os presentes Termos Apoia o Teu Salão, ceda a sua posição a terceiros sem a prévia autorização por escrito da Preserve e da Cosmenatura e/ou atuar de forma a acarretar prejuízos para as partes ou para o PdV LM PM em questão.

        ## VI. RESPONSABILIDADE DOS PDV LM PM ADERENTES

        1. É da total responsabilidade dos PdV LM PM aderentes a liquidação do imposto da receita gerada, em função do produto/serviço adquirido pelo consumidor, na data do resgate do voucher, ou na sua data de término de validade, quando esta não for respeitada. Deve incluir todos os pagamentos recebidos na sua faturação, sendo de sua responsabilidade cumprir as obrigações contabilísticas e fiscais a que está sujeito.
        2. Os PdV LM PM são os únicos responsáveis pelos conteúdos publicados. Qualquer informação, dados, textos, links ou outros materiais são da responsabilidade exclusiva dos mesmos.
        3. Não obstante as regras definidas e a diligência e zelo a que a Preserve e a Cosmenatura se propõem, não é possível um controlo de forma exaustiva dos conteúdos disponibilizados pelos PdV LM PM ou demais parceiros associados e, por isso não é possível à Preserve e à Cosmenatura garantir a correção, qualidade, integridade, precisão ou veracidade daqueles.
        4. A Preserve reserva-se ainda o direito de, por iniciativa própria e, eventualmente, com base em indicação da Cosmenatura para o efeito, retirar do website qualquer mensagem que contrarie as regras que defende para o bom funcionamento do website, nomeadamente as de carácter obsceno, maldoso, assediante, difamatório, prejudicial, ameaçador, calunioso, ofensivo, ilegal, racista, sexualmente tendencioso, publicitário e invasivo da privacidade de terceiros.
        5. A Cosmenatura destaca e ressalva que esta é uma ação de solidariedade, que tem em consideração e na base o pressuposto de um comportamento justo e correto por parte de Consumidores LM PM e dos PdV LM PM aderentes. Neste contexto, se existirem indícios de má-fé ou fraude, a Cosmenatura, Preserve e EuPago reservam-se o direito de não validar a transferência dos valores de aquisição de vouchers e, bem assim, a não efetuar o pagamento das bonificações de acordo com os presentes Termos Apoia o Teu Salão, para os PdV LM PM aderentes.
        6. Esta ação Apoia o Teu Salão é promovida através da Plataforma Preserve.pt e a gestão do processo de pagamento efetuado através do parceiro Eu Pago. Caso se verifique incumprimento dos termos estabelecidos no âmbito previsto da ação por qualquer interveniente acima mencionado, ou seja, verificada má conduta por parte de PdV LM PM ou Consumidor LM PM, a Cosmenatura reserva-se o direito de tomar todas as medidas que entenda por adequadas, nomeadamente junto da Preserve, do respetivo parceiro Eu Pago, dos PdV LM PM, dos Consumidores LM PM e das autoridades competentes.

        ## VII. TRATAMENTO DE DADOS PESSOAIS

        1. As pessoas singulares que constituem o movimento Tech4Covid assumem a qualidade de Responsáveis Conjuntas pelo Tratamento dos seus dados pessoais sendo responsáveis pela gestão da plataforma https://cosmenatura.preserve.pt/, e conjuntamente responsáveis pelo tratamento dos dados pessoais transmitidos pelos utilizadores da referida plataforma (PdV LM PM e consumidores) comprometendo-se a observar e a dar estrito cumprimento às normas legais decorrentes de legislação portuguesa, comunitária e/ou internacional que lhes sejam aplicáveis, designadamente aquelas que decorrem do Regulamento (UE) n.º 2016/679, do Parlamento Europeu e do Conselho de 27 de abril de 2016 (doravante RGPD).
        2. Por dados pessoais entende-se toda a informação relativa a uma pessoa singular identificada ou passível de ser identificada. No âmbito da presente iniciativa, serão tratados os seguintes dados pessoais:
          1. Dos representantes dos PdV LM PM: Nome, e-mail, NIF.
          2. Dos consumidores: e-mail (obrigatório) e NIF (opcional).
        3. Os dados pessoais recolhidos serão utilizados para efeito de adesão à ação Apoia o Teu Salão e registo na Plataforma, para eventual validação e gestão da participação dos PdV LM PM e, ainda, para garantir o pagamento dos valores de aquisição de vouchers e, bem assim, o pagamento das bonificações. Os dados pessoais recolhidos afiguram-se como adequados e necessários à prossecução de tais finalidades.
        4. A participação na presente ação implica, necessariamente, o tratamento dos dados pessoais acima identificados como obrigatórios. Se tais dados não forem facultados não poderá aderir ou participar na ação “Apoia o Teu Salão". A base de licitude do tratamento é a execução de um contrato, que se celebra através da aceitação dos termos e condições de participação previstos no presente documento.
        5. Todos os dados pessoais recolhidos no âmbito da presente ação serão disponibilizados e tratados na plataforma "preserve.pt", que é totalmente controlada e gerida pela Tech4Covid, a qual é exclusivamente responsável pela definição, implementação e controlo das medidas técnicas e organizativas necessárias para garantir a segurança das operações de tratamento de dados realizadas no âmbito da presente iniciativa.
        6. A Cosmenatura não é responsável pelo tratamento dos dados no âmbito da Plataforma, uma vez que não tem acesso aos dados nem tem qualquer interferência na gestão técnica da plataforma. Nesta medida, aconselha-se uma leitura atenta da política de privacidade da plataforma Preserve.pt, disponível em https://preserve.pt/privacy.
        7. A Tech4Covid poderá ter que transmitir informação (que não deverá conter dados pessoais) à Cosmenatura de PdV LM PM registados na Plataforma, para confirmação que estes PdV LM PM são efetivamente clientes da Cosmenatura, que podem usufruir das vantagens desta ação. Em caso algum serão transmitidos à Cosmenatura dados de consumidores.
        8. Os seus dados pessoais poderão ser partilhados com terceiros, mais concretamente prestadores de serviços individuais ou similares, nomeadamente, para o alojamento do website e correio eletrónico, ou para o prestador de serviços de pagamento, a Eupago. Apenas serão partilhados os dados necessários para a prestação dos serviços em causa.
        9. É garantido aos utilizadores da plataforma, independentemente da qualidade com que atuem, o direito de acesso, retificação, retirada de consentimento, oposição ao tratamento para os fins anteriormente definidos, apagamento, limitação e portabilidade dos dados pessoais que tiverem transmitido. Os direitos dos utilizadores atrás referidos poderão ser exercidos junto da Tech4Covid a todo e qualquer momento, bastando, para esse efeito, que os interessados enviem por escrito tais pedidos para o seguinte endereço de e-mail: info@preserve.pt.
        10. Sem prejuízo do referido no parágrafo anterior, os utilizadores da Plataforma que tenham transmitido os seus dados pessoais poderão ainda apresentar, sempre que o considerem pertinente, reclamação junto da Autoridade Nacional de Controlo (Comissão Nacional de Proteção de Dados – CNPD), cujos contactos podem ser consultados em https://www.cnpd.pt/.

        ## VIII. CONDIÇÕES GERAIS

        1. A participação na ação Apoia o Teu Salão implica a aceitação, pelos participantes aderentes, dos termos e condições previstos nos presentes Termos Apoia o Teu Salão e, bem assim, dos Termos Preserve. Quaisquer aspetos que não se encontrem regulados ou tratados nestes Termos Apoia o Teu Salão considerar-se-ão regulados pelos Termos Preserve ou, na ausência de regulação ou tratamento nestes, pela Lei Portuguesa aplicável e vigente.
        2. A Cosmenatura reserva-se o direito de, em articulação com a Preserve e sujeito aos demais Termos Apoia o Teu Salão e Termos Preserve, eliminar qualquer participante, PdV LM PM ou Consumidor LM PM, que esteja de alguma forma a violar os presentes Termos Apoia o Teu Salão.
        3. A Cosmenatura reserva-se o direito de, em qualquer altura e de forma discricionária, alterar, mover para outro meio, suspender ou cancelar a presente ação, sem prejuízo de se comprometer a considerar os direitos dos PdV LM PM e Consumidores LM PM que, até à data do cancelamento da ação, tenham aderido à mesma e adquirido vouchers.
        4. Os elementos solicitados no ato da adesão, são obrigatórios para a participação nesta ação.
        5. A participação na ação Apoia o Teu Salão destina-se a Consumidores LM PM maiores de 18 anos.
        6. A aquisição de vouchers não será considerada válida em caso de suspeita fundamentada de aquisição por Consumidores LM PM menores de 18 anos, pelos próprios PdV aderentes ou donos dos mesmos, ou qualquer pessoa que o faça como parte de meios ou intenções fraudulentas ou abusivas à iniciativa. A Preserve e a Cosmenatura, reservam-se o direito de tomar todas as medidas que entendam por adequadas, nomeadamente junto do respetivo PdV LM PM e das autoridades competentes, podendo incorrer uma ação legal

        ## IX. RESOLUÇÃO DE CONFLITOS

        1. Qualquer divergência ou questão que surja entre as partes, relativa à interpretação ou aplicação destes Termos Cosmenatura, será submetida ao tribunal da comarca de Vila Nova de Gaia, com expressa renúncia a qualquer outro, salvo norma imperativa que disponha de forma diversa.

        ## X. ACEITAÇÃO DAS CONDIÇÕES

        1. Todos os Consumidores e PdV LM PM que aderirem à ação Apoia o Teu Salão aceitam implicitamente os termos e condições estabelecidos no presente documento.

        Avintes, 2 de Maio de 2020