- content_for :header do
  = render "partners/#{@partner.slug}/header"

.container-xl.content
  .row
    .col-12.col-xl-8.offset-xl-2
      markdown:
        # BOCK IN BUSINESS na Preserve.pt

        A informação aqui representada não substitui a informação dos termos e condições _Bock in Business e [Preserve](#{tos_url})_, que tutelam esta iniciativa. Poderá ser adicionada ou alterada nova informação a este FAQ consoante se revele necessário à medida que a ação decorre ou se tiverem de ser feitas alterações legítimas à mesma.

        ## Questões Gerais:

        ### O que é o BOCK IN BUSINESS?

        1. BOCK IN BUSINESS é uma iniciativa da Super Bock em colaboração com a plataforma Preserve.pt do movimento Tech4Covid19, que tem o objetivo de apoiar os pontos de venda Super Bock ou dos seus distribuidores oficiais, em Portugal Continental e Ilhas, nomeadamente cafés, restaurantes e bares no contexto atual de estado de emergência, que por força do COVID-19 ditou o encerramento temporário de muitos estabelecimentos.
        2. Este apoio concretiza-se na promoção/divulgação da aquisição de vouchers, os quais poderão ser trocados por produtos/serviços, no valor correspondente ao voucher adquirido, aquando da reabertura dos estabelecimentos.
        3. Por cada voucher comprado a um cliente da Super Bock ou seus Distribuidores elegível, a Super Bock atribuirá uma bonificação adicional de 5€ à contribuição feita a esse Ponto de Venda, e consequentemente ao consumo disponibilizado ao consumidor (sujeito às condições de oferta Super Bock detalhadas abaixo).
        4. A acção terminará a 17 de Maio de 2020
        5. A Super Bock, Preserve e Eu Pago entram nesta iniciativa de boa-fé e com o desígnio maior de ajudar o canal Horeca, esperando que todos os consumidores e retalhista tenham a mesma atitude e compreensão

        ### O que é a PRESERVE.PT?

        A Preserve é uma plataforma que permite qualquer local que se encontre encerrado ou afectado pelo estado de emergência, gerar receitas a curto prazo através da venda de vouchers, ajudando-os a fazer face às despesas.

        O BOCK IN BUSINESS decorre dentro da plataforma PRESERVE.PT

        ### Para quem é o BOCK IN BUSINESS na plataforma Preserve.pt?

        BOCK IN BUSINESS é direcionado a:

        - Todos os consumidores, maiores de 18 anos, que pretendam apoiar os seus estabelecimentos favoritos;

        - Clientes da Super Bock e seus distribuidores oficiais, que tenham expressa e previamente realizado inscrição com sucesso para aderir a esta ação de solidariedade, disponibilizando-se para aceitar as contribuições dos consumidores que adquirem vouchers de consumo a utilizar no seu estabelecimento no final do encerramento de portas ditado pela COVID-19 e durante o período de validade dos mesmos. (ver mais detalhes sobre a inscrição abaixo).

        ### Como funciona o BOCK IN BUSINESS?

        Os consumidores podem comprar um voucher de consumo no seu estabelecimento preferido, entre os que estão registados na plataforma, que pode ser redimido por produtos/serviços de valor correspondente assim que os estabelecimentos selecionados abram de novo as suas portas após o levantamento das medidas contra a propagação do Covid-19.

        O dinheiro gerado pela compra dos vouchers é enviado diretamente para os estabelecimentos selecionados pelo consumidor, ajudando-os nesta fase difícil em que não têm rendimentos.

        Por cada voucher comprado a um estabelecimento registado na acção Bock in Business, a Super Bock atribuirá uma bonificação adicional de 5€ à contribuição feita a esse Ponto de Venda, e consequentemente ao consumo disponibilizado ao consumidor (sujeito às condições de oferta Super Bock detalhadas abaixo).

        ### O site bocktobusiness.preserve.pt é seguro?

        Sim, claro, bocktobusiness.preserve.pt é seguro. A plataforma Preserve.pt foi desenvolvida no âmbito do Tech4Covid, uma comunidade tecnológica voluntária criada para combater o Covid-19, e que conta com o apoio da www.eupago.pt. Esta é uma instituição de pagamento 100% nacional, acreditada e supervisionada pelo Banco de Portugal, através da qual são feitas as transações comerciais. Parceiros confiáveis a trabalhar juntos para o funcionamento do site, recolha de fundos com segurança.

        ### Como são processados os meus dados pessoais?

        Os dados inseridos são processados pela Preserve e Eu Pago de acordo com os regulamentos aplicáveis. Veja mais informações na política de privacidade da plataforma Preserve.pt disponível no fundo da página

        ### Tenho uma dúvida…com quem falo?

        Para dúvidas relacionadas com:

        - Utilização e funcionamento do website, formulários de registo, processamento de pagamentos e vouchers, contacte a Preserve enviando um e-mail para: [info@preserve.pt](mailto:info@preserve.pt)
        - Elegibilidade de Ponto de Venda para participar na acção Bock In Business ou dúvidas sobre como promover a página do seu ponto de venda na plataforma: contacte a Super Bock enviando um e-mail para: [sbg.direto@superbockgroup.com](mailto:sbgdireto@superbockgroup.com)
        - Produtos e serviços disponibilizados na troca do vale, data de reabertura de pontos de venda ou outras informações relacionadas: entre em contacto diretamente com o ponto de venda selecionado, seja através das informações na página seja por outros meios (por exemplo: usando o google para encontrar contactos). As informações publicadas na sua página de estabelecimento são da sua inteira responsabilidade e o contacto com os mesmos é da responsabilidade do consumidor e do ponto de venda

        ## Para Consumidores:

        ### Quem pode comprar um voucher para apoiar os seus Cafés, Bares e Restaurantes favoritos dentro da acção Bock In Business na plataforma Preserve.pt?

        Qualquer pessoa, maior de 18 anos, titular de uma conta bancária e meios disponíveis para realização de pagamentos online. Pode adquirir vouchers de consumo para um ou mais Cafés, Restaurantes ou Bares selecionados com um valor máximo de200€ por estabelecimento. Na aquisição de um voucher de consumo, a Super Bock adicionará 5€ adicionais ao montante selecionado se o ponto de venda que escolheste for um ponto de venda aceite no Bock in Business (ou seja, Cliente Super Bock ou de distribuidores oficiais Super Bock registado e aceite), ajudando na contribuição ao estabelecimento escolhido e ao valor do vale que podes disfrutar(sujeito às condições de oferta Super Bock detalhadas abaixo). Se o Ponto de Venda não estiver dentro do Bock in Business, ou seja, está registado apenas dentro do âmbito da preserve.pt, poderás continuar a comprar um vale para o estabelecimento e ajudá-lo nesta fase difícil, mas sem os 5€ adicionais da Super Bock

        ### Como adquirir um voucher?

        Como consumidor que deseje apoiar os seus Cafés, Restaurantes, Quiosques ou Bares favoritos e registados na acção Bock in Business, tem a possibilidade de:

        1. aceder ao site bockinbusiness.preserve.pt
        2. selecionar o seu estabelecimento favorito entre a lista de estabelecimentos registados
        3. selecionar o valor do voucher que deseja comprar na lista de valores pré-indicados em valor (10€, 20€, 30€, 40€, 50€) ou de forma livre, inserir outro valor (entre 10 e 200€)
        4. clicar no botão &quot;Comprar Voucher&quot;
        5. preencha as informações requisitadas: e-mail (necessário para envio do voucher e envio de confirmação de compra), NIF (caso deseje emissão de fatura) e seleção de modo de pagamento (Multibanco ou MBway)
        6. Proceder às indicações de pagamento

        Após confirmação, receberás o voucher correspondente à aquisição via e-mail, e só tens que aguardar pela reabertura do estabelecimento para brindares com os teus amigos. O voucher é referente a um ponto de venda único e não pode ser duplicado, editado ou vendido.

        Podes ainda partilhar o link da página do teu estabelecimento preferido nas redes sociais, para que outros possam ajudar também!

        ### Como funciona a oferta adicional de 5€ feita pela Super Bock?

        A Super Bock irá bonificar em 5€ adicionais cada voucher que adquirires para o teu ou teus estabelecimentos favoritos. Aumenta-se assim a ajuda que o teu spot preferido vai receber e consequentemente o valor do produto/serviço do teu voucher de consumo!

        Esta oferta é limitada, aplicando-se exclusivamente às seguintes condições:

        - oferta de 5€ adicionais pela Super Bock limitada aos primeiros 4000 vouchers, somando todos os vouchers encomendados para todos os PdV SB dentro da acção _Bock in Business_ na Preserve.pt

        - oferta de 5€ adicionais limitada aos primeiros 30 vouchers de consumo (que representam um mínimo de 450€) adquiridos para cada ponto de venda. Este limite existe para garantir que o valor de oferta da super Bock se espalha pelo maior número de pontos de venda possíveis.

        ### Posso trocar o voucher de consumo por aquilo que quiser?

        Sim, é claro, dentro dos limites da oferta disponível e preço de venda praticado no estabelecimento para o qual compraste o voucher, e as leis em vigor

        ### Como utilizar o meu voucher?

        Depois do pagamento ser efetuado de forma válida, receberás o teu voucher junto com um comprovativo no endereço de e-mail indicado no momento da compra. Garante que o e-mail que indicas é válido e escrito corretamente, caso contrário não conseguirás receber o teu voucher.

        O teu voucher contém um código único, que corresponde especificamente à compra efetuada, para o trocares deverás proceder da seguinte forma:

        - Após a reabertura do café, restaurante ou bar que escolheste, deverás deslocar-te lá e mostrar o teu voucher ao responsável no ponto de venda, ele irá validar o voucher de consumo e disponibilizar o produto/serviço correspondente;
        - Poderás usar o teu voucher a partir do momento de reabertura do estabelecimento e por um período de 24 meses a partir da data de aquisição;
        - O teu voucher pode ser utilizado apenas uma vez, e não poderá ser editado, duplicado ou comercializado, mesmo que não utilizes o valor totalmente

        Se, a qualquer momento a Preserve.pt desenvolver um novo mecanismo de vales (por exemplo, com um vale digital), deverás passar a utilizar esse, sendo o anterior designado como inválido

        ### Não recebi um voucher, o que devo fazer?

        Se tiveste algum problema com a receção do teu voucher, contacta a Preserve enviando um e-mail para: info@preserve.pt

        ### O voucher também pode ser parcialmente usado ou usado várias vezes?

        O teu voucher pode ser utilizado apenas uma vez, e não poderá ser editado, duplicado ou comercializado.

        ### Também posso oferecer um vale-presente?

        Sim, é possível enviar o voucher por e-mail a quem quiseres. Claro que o uso do vale por essa pessoa está tutelado pelos Termos e Condições Bock in Business e Preserve.pt

        ### O valor total do voucher é entregue ao estabelecimento escolhido?

        Sim, com exceção das taxas reduzidas cobradas pelos provedores de pagamento pela operação de seus serviços, sem as quais a operação BOCK IN BUSINESS não teria sido possível.

        ### Quem não pode comprar um voucher dentro da acção Bock in Business na plataforma Preserve.pt?

        Não podem adquirir um voucher:

        - menores de 18 anos;
        - Os próprios estabelecimentos ou donos dos mesmos, ou qualquer pessoa que o faça como parte de meios ou intenções fraudulentas ou abusivas à iniciativa. Caso se verifique suspeita de má conduta, a participação será invalidada e poderá incorrer uma acção legal Se tens dúvidas sobre a validade da tua aquisição ou tens suspeita de atividade fraudulenta no contexto desta iniciativa, contacta a preserve para o e-mail [info@preserve.pt](mailto:info@preserve.pt).

        ### Quais os meios de pagamento aceites?

        Os meios de pagamento a serem utilizados são aqueles aceites exclusivamente na plataforma Preserve.pt, através do seu parceiro Eupago, ou seja, pagamento via referência Multibanco e MBway.

        ### A partir de que data posso comprar vouchers como consumidor?

        Poderás comprar vouchers logo que o ponto de venda que pretendes ajudar esteja disponível na página BOCK IN BUSINESS ou esteja assinalado como participante da acção no site da Preserve.pt

        A data limite para poderes comprar vouchers é o dia 17 de Maio de 2020. A Super Bock e a Preserve reservam-se o direito de alterar esta data em caso de existirem condicionantes de força maior que o obriguem.

        ### Até quando posso usar o meu voucher?

        O voucher é válido até 24 meses após a data de aquisição do mesmo.

        ### Posso cancelar o meu voucher?

        Qualquer comprador pode exercer o direito de resolução sem que seja exigida indeminização no prazo de 14 dias a contar da data de recepção do mesmo. No entanto, os termos, procedimentos e reclamações devem ser tratados directamente e exclusivamente com o estabelecimento aderente à plataforma Preserve.pt, não se responsabilizando a Super Bock e Preserve.pt pelos mesmos.

        Se o teu voucher for válido para a bonificação adicional da Super Bock (ver as condições de oferta Super Bock detalhadas acima), apenas o valor da tua compra efetuada será reembolsado, não tendo naturalmente direito a receber os 5€ correspondentes à bonificação que seria enviada ao estabelecimento escolhido.

        ### E se o meu Café, Restaurante ou Bar favorito não reabrir após o período de confinamento devido à interrupção dos negócios, falência ou outro motivo?

        Não esperamos que isso aconteça, é claro. De qualquer forma, caso o estabelecimento escolhido não esteja aberto (devido a fecho de portas permanente por algum outro motivo) antes de efetuares a redenção do vale adquirido, a Preserve e a Super Bock não se podem responsabilizar, assumindo sempre que tal situação é um infortúnio que esta ação tenta evitar. Neste sentido, não será efetuado o reembolso ou compensação de vales. Ao participar na campanha de solidariedade BOCK IN BUSINESS, concordas em assumir o risco de perder o teu vale em caso de falência ou qualquer outra cessação de atividade no estabelecimento apoiado, da mesma forma, o valor extra oferecido pela Super Bock aos estabelecimentos será considerado perdido.

        ### O que fazer se o estabelecimento recusar o voucher solicitado?

        Se ainda não tiverem sido ultrapassados 24 meses após a data de compra e o estabelecimento consultado for efetivamente o correspondente ao vale em questão, esse estabelecimento está comprometido, no âmbito da sua adesão a esta iniciativa, em efetuar o serviço correspondente ao valor do voucher adquirido na plataforma preserve.pt. A Preserve e a Super Bock não são contudo responsáveis, não têm controlo, nem prestam qualquer garantia nem serviço sobre os Serviços prestados pelos estabelecimentos aderentes, bem como sobre a qualidade, pontualidade ou qualquer outro aspeto relacionado com os mesmos.

        ### E se o meu estabelecimento favorito não estiver listado no site bockinbusiness.preserve.pt?

        Talvez o teu Café, Bar, Quiosque, Discoteca ou Restaurante não se tenha registado ainda. Contacta-o nas redes sociais e incentiva-o a participar nesta iniciativa e nós verificaremos com ele se ele é elegível para participar na acção Bock in Business. No entanto, mesmo que não seja, pode sempre registar-se simplesmente na Preserve.pt, embora aí não possa beneficiar da acção Bock In business e da oferta de 5€ por vale. Enquanto isso, dá uma olhadela a outros estabelecimentos que poderás ajudar: (link)

        ## Para Pontos de Venda Aderentes:

        ### Que tipo de empresa pode participar no BOCK IN BUSINESS na plataforma Preserve.pt?

        O BOCK IN BUSINESS está aberto a todos os estabelecimentos da Grande Restauração (nomeadamente cafés, snacks, bares, restaurantes, quiosques e discotecas), que sejam clientes diretos ou clientes diretos dos distribuidores oficiais da Super Bock em Portugal Continental e nas Ilhas. Para aderirem à ação devem inscrever-se corretamente na ação através do site bocktobusiness.preserve.pt e concluir o registo com sucesso junto do provedor de pagamentos Eu Pago.

        ### Que tipo de empresa não pode participar do BOCK IN BUSINESS?

        Não poderão aderir à ação de solidariedade BOCK IN BUSINESS:

        - qualquer empresa de um setor que não seja parte do setor de Restauração e similares, ou não faça parte do canal direcionado ao consumo fora de casa;
        - empresas do setor da restauração que não sejam clientes Super Bock ou seus distribuidores oficiais. Estas devem participar na ação de solidariedade promovida pela Preserve em Preserve.pt que decorre em moldes semelhantes, mas sem a oferta de +5e por vale. Consulte aqui: preserve.pt
        - Qualquer estabelecimento que utilize meios fraudulentos ou abusivos ou tenha intenções nefastas. Sob possibilidade de cancelamento do seu registo e acção legal

        ### Posso participar se não for Cliente direto da Super Bock ou dos seus Distribuidores oficiais?

        - Se não for Cliente direto da Super Bock ou dos seus Distribuidores oficiais, deve participar na ação de solidariedade promovida pela preserve em Preserve.pt que decorre em moldes semelhantes, mas sem a possibilidade do apoio extra da super Bock de +5€ por vale. Consulte aqui: preserve.pt

        ### Como posso participar no BOCK IN BUSINESS na Preserve.pt?

        Se o seu estabelecimento respeitar as condições de participação de BOCK IN BUSINESS (veja acima) e completar o processo de registo, aparecerá automaticamente no website bockinbusiness.preserve.pt após efectuar de forma correta e completa o reu registo e após validação do mesmo pela Preserve e pelo parceiro de pagamentos EuPago.

        Para aderir a esta iniciativa de solidariedade, basta seguir o seguinte processo:

        1. aceder a bockinbusiness.preserve.pt
        2. clicar em &quot;Registar Estabelecimento&quot;
        3. será redirecionado para o preenchimento de um formulário de registo, na qual precisará fornecer as seguintes informações solicitadas e documentos de suporte:
          1. Sobre o estabelecimento:
              1. Tipo de Estabelcimento
              2. Nome do estabelecimento;
              3. Morada completa;
              4. Fotografia de perfil de estabelecimento.
          2. Sobre Si:
              1. Nome
              2. E-mail
          3. Sobre a Empresa:
              1. Nome da Empresa
              2. NIF;
              3. IBAN;
              4. Código de acesso da Certidão Permanente
              5. Código de cliente Super Bock ou indicação do nome do Distribuidor Oficial

        Após o registo, será reencaminhado para conclusão do registo com o provedor de pagamento Eu Pago. Após validação da sua inscrição receberá um e-mail de confirmação e ficará disponível na plataforma BOCK IN BUSINESS.

        Convidamo-lo a ativar sua comunidade através das redes sociais, partilhando o link do seu estabelecimento na BOCK IN BUSINESS para que possa convidar todos os consumidores a ajudar.

        ### Sou um cliente direto da Super Bock…como posso saber o meu código de Cliente Super Bock?

        Basta consultar facturas recentes da Super Bock, onde aparece um campo com o título “Cod. Cliente”

        ### Que tipo de empresa pode participar no BOCK IN BUSINESS na plataforma Preserve.pt?

        O BOCK IN BUSINESS está aberto a todos os estabelecimentos da Grande Restauração (nomeadamente cafés, snacks, bares, restaurantes, quiosques e discotecas), que sejam clientes diretos da Super Bock ou clientes diretos dos distribuidores oficiais da Super Bock em Portugal Continental e nas Ilhas, que comprem qualquer produto do Portfolio Super Bock Group.

        ### Como me registo se tiver múltiplos pontos de venda?

        Cada ponto de venda deve ser registado em separado, para que os consumidores possam usufruir do serviço no espaço escolhido.

        ### Quando posso inscrever o meu estabelecimento e até quando?

        A iniciativa BOCK IN BUSINESS estará disponível online para registos e disponibilização de vouchers de consumo até ao dia 17 de Maio de 2020. Garanta que efetua o registo antes dessa data para poder tentar usufruir dos vales com a contribuição extra da Super Bock. A partir desta data ou no caso de serem atingidas as condições dos termos detalhados apontados mais abaixo), continuará a ser possível que os consumidores comprem vouchers para o ponto de venda, mas sem a possibilidade da bonificação

        Os vouchers adquiridos pelos consumidores serão válidos até 24 meses após a data de aquisição dos mesmos, pelo que depois de terminar a data limite de compra de vales estes continuarão ativos, para que todos os consumidores se possam deslocar ao seu estabelecimento para consumir.

        ### Como recebo o dinheiro quando um voucher é comprado no meu estabelecimento?

        À medida que os vouchers são adquiridos pelos consumidores, o valor será pago para o número da conta inserido durante o seu registo.

        Se o voucher comprado for elegível para a ajuda complementar da Super Bock de 5€ por vale, segundo as condições abaixo descritas, esse montante será também transferido para esse IBAN. Por motivos legais e processuais, essa doação extra será paga separadamente do valor pago pelo consumidor – regra geral, 1 semana depois, embora este tempo possa variar.

        ### Como funciona a oferta adicional de 5€ feita pela Super Bock?

        A Super Bock irá bonificar em 5€ adicionais, os vouchers que um consumidor adquirirá para o seu estabelecimento, com um valor mínimo de 10€. Assim, aumenta-se o valor monetário transferido para a sua conta e consequentemente o valor do produto/serviço a que o consumidor terá acesso.

        Esta oferta é limitada, aplicando-se exclusivamente às seguintes condições:

        - oferta de 5€ adicionais limitada aos primeiros 4000 vales distribuídos pela soma de todos os Pontos de Venda Super Bock (Directos ou através dos seus distribuidores oficiais) participantes nesta acção

        - oferta de 5€ adicionais limitada aos primeiros 30 vouchers de consumo (representam um mínimo de 450€) adquiridos para cada ponto de venda. Este limite existe para garantir que o valor de oferta da Super Bock se espalha pelo maior número de pontos de venda possíveis.

        ### Posso recusar um consumidor a usar o voucher encomendado no meu estabelecimento?

        Não, a menos que a) seja um vale já utilizado b) o código do vale não esteja na lista de códigos de vales comprados e lhe enviados pela plataforma c) o seu estabelecimento tenha sido entretanto objeto de um processo ou julgamento de liquidação com fecho imediato. Ao concordar em aderir à ação e registar-se em bockinbusiness.preserve.pt compromete-se a efetuar o serviço correspondente ao valor do voucher adquirido na plataforma preserve.pt, nos termos do preço de venda praticado no seu estabelecimento, mediante a apresentação do voucher pelo consumidor no estabelecimento até 24 meses após a sua data de aquisição.

        ### Como posso controlar os vales que um consumidor apresenta?

        Os estabelecimentos registados na plataforma Preserve.pt têm uma &quot;área de comerciante&quot;, onde podem consultar a lista de vouchers vendidos. Vão também poder imprimir esta lista, para que seja mais fácil de usarem os vouchers no dia a dia.

        ### Posso cancelar a inscrição?

        Sim, você pode cancelar a inscrição como estabelecimento participante a qualquer momento, não há período de compromisso. Para cancelar a inscrição, entre em contato com a Preserve em [info@preserve.pt](mailto:info@preserve.pt). No entanto, qualquer vale entretanto adquirido deve ser aceite no estabelecimento.

        ### Como estabelecimento aderente, tenho acesso aos dados do consumidor que solicita o voucher para poder entrar em contato com o cliente novamente no futuro?

        De acordo com a política de privacidade Preserve.pt, os estabelecimentos aderentes não terão acesso às informações de consumidores que solicitaram um voucher.

        ### A receita gerada por pedidos de vouchers e valores correspondentes são alvo de impostos/tributáveis?

        Sim, a liquidação do imposto do produto/serviço consumido pelo consumidor fica a cargo dos estabelecimentos aderentes, na data do resgate do voucher, ou na sua data de término de validade, quando esta não for respeitada.

        O imposto relativo ao serviço de promoção desta iniciativa mostra-se devido quando o voucher for resgatado, em função do produto/serviço adquirido, tornando-se exigível no momento da emissão da fatura, quando o prazo for respeitado, ou no momento em que termina esse prazo, quando o mesmo não for respeitado.

        Deve incluir todos os pagamentos recebidos na sua faturação. É de sua responsabilidade cumprir as obrigações contabilísticas e fiscais a que está sujeito.

        ### A participação no BOCK IN BUSINESS é gratuita?

        Sim, a participação na plataforma é gratuita

        ### Quanto tempo leva para o meu estabelecimento ficar on-line depois de efetuar o registo?

        Após o seu registo, verificamos a validade de todos os seus dados e daremos seguimento à implementação da sua página de Café, Restaurante ou Bar o mais rapidamente possível. Poderá demorar 2-3 dias úteis até a sua página ser disponibilizada online.

        ### Como posso alterar meus detalhes de contato, como o nome da minha empresa ou o número da minha conta?

        A modificação dos dados da sua empresa é feita no seu perfil em bockinbusiness.preserve.pt.

        ### Posso partilhar o link para o meu estabelecimento no meu próprio site e nas redes sociais?

        Sim, claro! Quanto mais pessoas souberem que aderiu ao BOCK IN BUSINESS, mais pessoas poderão comprar vouchers de consumo, ajudando-o nesta fase difícil.

        Para partilhar e incentivar o maior número de pessoas possível a participar, divulgue o link da página de perfil do seu estabelecimento na BOCK IN BUSINESS através das redes sociais e todas as formas de comunicação que tiver ao seu alcance.

        ### Então como acho o link da página do meu estabelecimento, por exemplo, para promover a compra de vouchers para o meu estabelecimento?

        Procure o seu estabelecimento na plataforma bockinbusiness.preserve.pt e clique no mesmo. O Link que aparece na barra do browser é o link directo para qualquer consumidor comprar vouchers para o seu estabelecimento.