- content_for :header do
  = render 'shared/header'

.container.content
  .row
    .col-12.col-xl-8.offset-xl-2
      markdown:
        # Política de Privacidade, Proteção de Dados e Cookies
        A Preserve agradece a sua visita ao nosso website. Para nós é muito importante garantir a privacidade, segurança e proteção dos seus dados pessoais, tanto no processo de recolha como no tratamento dos mesmos.

        Neste sentido, criamos a presente política de privacidade e proteção de dados, com vista a explicar que informações são recolhidas pela Preserve quando visita/utiliza o nosso website e de que forma estas informações são utilizadas.

        ### Quem somos?
        O Tech4Covid19 é um movimento que reúne pessoas e empresas ligadas ao setor tecnológico e que tem como missão desenvolver, de forma aberta e colaborativa, soluções para combater o impacto do novo coronavirus (Covid19) através da tecnologia.

        Os seus dados pessoais serão tratados pela equipa voluntária do movimento Tech4Covid19 responsável pela gestão da plataforma Preserve.

        As pessoas singulares acima identificadas assumem a qualidade de Responsáveis Conjuntas pelo Tratamento dos seus dados pessoais, nos termos e de acordo com o disposto no Regulamento Geral sobre a Proteção de Dados – o Regulamento (EU) 2016/679 do Parlamento Europeu e do Conselho de 27 de abril de 2016 (“RGPD”).

        Dados pessoais são informações específicas sobre características pessoais ou factuais relacionadas com um indivíduo que pode ser identificado a partir desses dados. Isso inclui informações como o nome, morada, número de telefone e data de nascimento. As informações que não permitem a sua identificação ou que não podem ser diretamente ligadas à sua identidade não são consideradas dados pessoais.

        ### Que dados pessoais são recolhidos e tratados?
        Pode navegar no nosso website sem nos disponibilizar quaisquer dados pessoais.

        Apenas são recolhidos os seus dados no caso de se registar como Parceiro, ou na compra de um voucher.
        
        ### Os meus dados pessoais serão partilhados com terceiros?
        Os seus dados pessoais poderão ser partilhados com terceiros, mais concretamente prestadores de serviços individuais ou similares, nomeadamente, para o alojamento do website e correio eletrónico, ou para o prestador de serviços de pagamento, a Eupago. Apenas serão partilhados os dados necessários para a prestação dos serviços em causa. Os seus dados serão tratados apenas dentro do Espaço da União Europeia.

        ### Quais são os seus direitos?
        Nos termos da legislação sobre proteção de dados pessoais, garantimos-lhe o direito de acesso, obtenção de cópia dos dados pessoais que a Preserve disponha sobre si, atualização, retificação, eliminação, portabilidade e apagamento dos seus dados pessoais. Assiste-lhe ainda o direito de apresentar reclamações perante a Comissão Nacional de Proteção de Dados (CNPD).

        ### O que são cookies?
        Cookies são pequenas etiquetas de software que são armazenadas no seu computador ou outros dispositivos que utiliza para aceder à internet, através do navegador (browser). Saiba mais sobre cookies em: allaboutcookies.org.

        ### Qual a finalidade dos cookies?
        A utilização de cookies tem o objetivo de melhorar a experiência de navegação do utilizador, aumentando a rapidez e eficiência de resposta dos websites. Elimina a necessidade de introduzir repetidamente as mesmas informações e ajudam a determinar a utilidade, interesse e o número de utilizações. Cada cookie tem uma função e uma data de validade. A Preserve não utilizará, sem consentimento prévio, dados armazenados em cookies nos casos em que tal seja exigido.

        ### Que cookies são usados no website?
        Este site utiliza cookies proprietários e de terceiros. Os cookies de terceiros diferem dos primeiros na medida em que são enviados para o dispositivo do utilizador, a partir de um equipamento ou domínio, que não se encontra sob o controlo ou gestão direta da Preserve.

        Os cookies podem ser classificados da seguinte forma:

        Cookies essenciais - São fundamentais para aceder a áreas específicas do website. Permitem a navegação no website e a utilização das suas aplicações, tal como o acesso a áreas seguras através de login. Estes cookies não recolhem informação sobre o utilizador que possa ser utilizada para fins de marketing ou para identificar as visitas do utilizador a websites. Sem eles, certos serviços não podem ser prestados.

        Cookies analíticos - Permitem analisar a forma como os utilizadores usam o website, permitindo destacar artigos ou serviços que podem ser do seu interesse, monitorizar o desempenho do mesmo, conhecendo quais as páginas mais populares. Estes cookies são utilizados apenas para efeitos de criação e análise estatística.

        Cookies funcionais - Permitem relembrar as preferências do utilizador relativamente à navegação no website. Assim, o utilizador não necessita de o reconfigurar e personalizar cada vez que o visita.

        ### Ligações a sites de terceiros
        O Preserve possui ligações para outros sites, os quais, a nosso ver, podem conter informações / ferramentas úteis para os nossos visitantes. A nossa política de privacidade não é aplicada a sites de terceiros, pelo que, caso visite outro site a partir do nosso deverá ler a política de privacidade do mesmo.

        Não nos responsabilizamos pela política de privacidade ou conteúdo presente nesses mesmos sites.

        ### Alterações a esta política
        A equipa do Preserve reserva-se ao direito de alterar este acordo sem aviso prévio. Deste modo, recomendamos que consulte a nossa política de privacidade com regularidade de forma a estar sempre atualizado.

        O exercício destes direitos deverá ser realizado através do seguinte endereço de correio eletrónico [info@preserve.pt](info@preserve.pt)
