- content_for :header do
  = render 'shared/header'

.container.content
  .row
    .col-12.col-xl-8.offset-xl-2
      markdown:
        # Termos e Condições
        Termos atualizados em Março de 2020 

        O Utilizador deverá ler atentamente os presentes Termos e Condições (doravante designados por “Termos”) antes de aceder ou de utilizar o website. Ao aceder e utilizar o website, o Utilizador concorda, em seu nome e/ou em nome da entidade que representa, cumprir estritamente as disposições destes Termos.

        Estes Termos constituem um acordo vinculativo (doravante designado por “Acordo”) entre o Utilizador e a Plataforma Preserve (doravante designada por “Plataforma”) relativamente ao acesso e uso do website da Preserve.

        A Preserve é uma plataforma online que tem como objetivo ajudar estabelecimentos que, decorrente do surto do Covid-19, se encontram em situação de crise. 

        No website da Preserve são disponibilizados vouchers relativos a produtos e serviços (doravante designados por “Serviços”) disponibilizados por terceiros (doravante designados por “Parceiro” ou “Parceiros”), os quais poderão ser adquiridos pelo Utilizador. 

        O Utilizador obriga-se a tomar conhecimento das condições de aquisição do voucher definidas e disponibilizadas pelo Parceiro.

        Os Parceiros são responsáveis por identificar, compreender e cumprir com todas as leis, regras e regulamentos que se aplicam aos seus Serviços (tal como definidos acima).


        ### 1. Condições gerais
        1.1. A Preserve não é responsável, não tem controlo, nem presta qualquer garantia sobre a prestação dos Serviços prestados pelos Parceiros, bem como sobre a qualidade, pontualidade ou qualquer outro aspeto relacionado com os aqueles.

        1.2. O Parceiro será o único responsável por prestar os Serviços especificados no voucher, ao Utilizador, em seu nome e por sua conta, estando a oferta sujeita à descrição e condições por ele fixadas, incluindo, entre outras, preços e garantias legais, as quais foram objeto de prévio conhecimento e aceitação por parte do Utilizador.

        1.3. A Preserve verifica a identidade dos Parceiros através do pedido de informação aquando do seu registo. No entanto, a Preserve não é responsável por eventuais declarações ou documentos falsos fornecidos pelos Parceiros, pelo que não garante a fidedignidade das informações.

        1.4. O Utilizador reconhece e aceita que adquirirá os vouchers por sua conta e risco, atuando com prudência e bom senso e tomar as medidas que considerar necessárias para proteger a sua segurança e bens pessoais.


        ### 2. Acessibilidade
        2.1. De forma a adquirir os vouchers através da Plataforma, o Utilizador poderá ter de criar uma conta na Plataforma. O Registo encontra-se associado ao endereço de e-mail fornecido pelo Utilizador. A cada Utilizador apenas pode corresponder um registo. A Preserve poderá cancelar qualquer registo subsequente.

        2.2. Para criar uma conta na Plataforma, os Parceiros deverão facultar as informações requeridas na Plataforma e realizar o Registo na Europago.

        2.3. O Utilizador pode, a qualquer momento, solicitar o cancelamento da sua conta.

        2.4. A Preserve pode, a qualquer momento, cancelar ou eliminar contas caso alguma das Partes não cumpra os presentes termos, ceda a sua posição a terceiros sem a prévia autorização por escrito da Preserve e/ou atuar de forma a acarretar prejuízos para as Partes.

        ### 3. Condições do voucher
        3.1. Não é permitida a reprodução, edição, manipulação ou revenda dos vouchers. Em caso de suspeita fundamentada de ocorrência de qualquer uma dessas ações, a Preserve, reserva-se o direito de tomar todas as medidas que entenda por adequadas, nomeadamente junto do respetivo Parceiro e das autoridades competentes.

        3.2. Os vouchers serão disponibilizados na Preserve após validação do registo do Parceiro.

        3.3. Os vouchers serão enviados para o endereço de email do Utilizador após o registo com sucesso, do pagamento efetuado. 

        3.4. Os vouchers têm validade vitalícia e podem ser utilizados em qualquer altura. O Utilizador deverá consultar a informação no voucher e suscitar potenciais questões junto do Parceiro em questão.

        ### 4. Preços, condições de pagamento e faturação
        4.1. A utilização da Plataforma é gratuita.

        4.2. O valor do voucher é definido pelo Utilizador que decidirá o montante que pretende atribuir.
        
        4.3. Os preços dos vouchers são fixados em euros e os pagamentos deverão ser realizados nessa moeda ao Parceiro.

        4.4. Os pagamentos deverão ser realizados através da Instituição de Pagamento Eupago.

        4.5. A aceitação de pagamentos pelo Parceiro obriga ao seu registo na Eupago aquando do registo na Plataforma.

        4.5. O processamento de pagamentos está sujeito aos Termos e Condições e à Política de Privacidade do emissor dos meios de pagamento ou da Instituição que presta os Serviços de pagamento.

        4.6. É da inteira responsabilidade do Utilizador promover as operações bancárias e eventuais autorizações que o habilitem a realizar compras online.

        4.7. O processo de faturação estará a cargo do Parceiro. A Preserve não tem qualquer intervenção a este propósito.

        ### 5. Política de Cancelamento e Reembolso
        5.1. O Utilizador pode exercer o direito de resolução sem que lhe seja exigida qualquer indemnização, no prazo de 14 (catorze) dias a contar da data de receção do voucher.

        5.2. Os termos mediante os quais serão definidos a política de cancelamento e reembolso, bem como os procedimentos de reembolsos ou de quaisquer reclamações deverão ser feitos de Acordo com as políticas dos Parceiros.

        ### 6. Força maior
        6.1. Nenhuma das Partes será responsável perante a outra pelo não cumprimento das suas obrigações, se esse incumprimento tiver sido causado ou resultar de um evento de força maior.

        6.2. Um evento de força maior constitui um evento que impeça qualquer das partes de cumprir as suas obrigações, esteja fora do seu controlo e não possa ser evitado por um contraente diligente.

        6.3. A parte faltosa deverá, de imediato, notificar a parte não faltosa da ocorrência do evento de força maior.

        6.4. A parte faltosa tomará as medidas necessárias para limitar ou restringir os efeitos adversos.

        ### 7. Conteúdo
        7.1. Todo o conteúdo da Plataforma é protegido por Direitos de Autor e Direitos Conexos, e Direitos da Propriedade Industrial, ao abrigo das leis Portuguesas da União Europeia, convenções internacionais e outras leis, não podendo ser utilizado fora das condições admitidas neste site e sem consentimento da Preserve.

        7.2. Os direitos de propriedade intelectual de todos os conteúdos da Preserve, que não sejam de fornecimento externo e como tal devidamente identificado, são pertença da Preserve, incluindo as informações, as ferramentas, o desenho gráfico das páginas, bem como todos os seus componentes e todas as figuras. 

        7.3. O conteúdo presente no website não poderá ser copiado, alterado ou distribuído salvo com autorização expressa da Preserve.

        7.4. Todos os textos, imagens, ilustrações, fotografias, publicidade, marcas e outros elementos do conteúdo do website estão protegidos por lei, sendo expressamente interdita qualquer cópia, reprodução, difusão ou transmissão, utilização, modificação, venda, publicação, distribuição ou qualquer outro uso, total ou parcial, comercial ou não comercial, quaisquer que sejam os meios utilizados salvo com autorização expressa dos Parceiros e/ou da Preserve, conforme o caso. 

        7.5. É proibida a utilização do site para fins ilegais ou quaisquer outros que possam ser considerados prejudiciais para a Preserve.

        7.6. A Preserve rejeita qualquer responsabilidade pela usurpação e uso indevido dos elementos acima citados. Excetua-se a esta interdição o uso livre autorizado por lei, nomeadamente o direito de citação, desde que claramente identificada a sua origem.

        7.7. A Preserve reserva-se o direito de proceder judicialmente contra os autores de qualquer cópia, reprodução ou outra utilização não autorizada.

        ### 8. Exclusão de responsabilidade
        8.1. A Preserve não controla ou gere as informações, produtos ou serviços dos conteúdos fornecidos por terceiros na Plataforma, bem como das hiperligações a outros websites, logo não pode ser responsabilizada por erros de qualquer natureza, ou dados incorrectos, destes websites e/ou conteúdos, incluindo as suas políticas e práticas de privacidade.

        8.2. A inclusão de conteúdos fornecidos por terceiros na Plataforma não implica aceitação ao conteúdo nelas existentes ou uma associação com os seus proprietários.

        8.3. A Preserve rejeita qualquer responsabilidade por quaisquer danos diretos, indiretos ou acidentais consequentes do uso ou da inabilidade de uso dos materiais contidos na Plataforma, bem como não controla nem é responsável por qualquer conduta ilegal, ofensiva ou difamatórias dos seus Utilizadores.

        ### 9. Responsabilidade do Parceiro
        9.1. O Parceiro é o único responsável pelos conteúdos publicados. Qualquer informação, dados, textos, links ou outros materiais são da responsabilidade exclusiva do Parceiro.

        9.2. Não obstante as regras definidas e a diligência e zelo a que a Preserve se propõe, não é possível um controlo de forma exaustiva dos conteúdos disponibilizados pelos Parceiros e, por isso não é possível à Preserve garantir a correcção, qualidade, integridade, precisão ou veracidade daqueles.

        9.3. A Preserve reserva-se ainda o direito de retirar do website qualquer mensagem que contrarie as regras que defende para o bom funcionamento do website, nomeadamente as de carácter obsceno, maldoso, assediante, difamatório, prejudicial, ameaçador, calunioso, ofensivo, ilegal, racista, sexualmente tendencioso, publicitário e invasivo da privacidade de terceiros.

        ### 10. Privacidade e Dados Pessoais
        10.1. Os dados pessoais fornecidos são indispensáveis ao acesso e utilização da Plataforma e processados automaticamente para este finalidade.

        10.2. Nos termos legais, é garantido a qualquer uma das Partes o direito de acesso, rectificação e atualização dos seus dados pessoais, bem como o direito de oposição à utilização dos mesmos. 

        10.3. A omissão ou inexatidão dos dados pessoais ou das demais informações disponibilizados por qualquer uma das Partes, são da sua inteira responsabilidade.


        ### 11. Lei aplicável e litígio
        Estes Termos são redigidos e interpretados de acordo com a Lei Portuguesa.

        ### 12. Contato e suporte
        Em caso de dúvidas relacionadas com este Acordo, direitos e obrigações de qualquer uma das partes decorrentes deste documento, por favor entre em contato com info@preserve.pt. Qualquer outro assunto relacionado com os Serviços disponibilizados na Plataforma, por favor contacte o Parceiro em questão.