- content_for :header do
  = render 'shared/header'

.container-xl.content
  .row
    .col-12.col-xl-8.offset-xl-2
      markdown:
        # Termos e Condições da campanha MB WAY & Preserve.pt

        ## I. Definições

        1. Campanha "CAMPANHA MB WAY & PRESERVE.PT": denominação da campanha das marcas SIBS e Preserve.pt.

        2. Participante: Todos os utilizadores MB WAY. A SIBS reserva o direito de verificar a elegibilidade dos participantes e pedir para que os mesmos se identifiquem, de forma a garantir a veracidade da participação.

        3. Promotora: SIBS Forward Payment Solutions, com sede na Rua Soeiro Pereira Gomes Lote nº 1 – 1649 – 031 Lisboa, registada com o número único de pessoa coletiva 505107546, na Conservatória do Registo Comercial de Lisboa, doravante "SIBS".

        4. Prazo de Duração: A Campanha CAMPANHA MB WAY & PRESERVE.PT” estará ativa de 30 de abril de 2020 a 31 de maio de 2020.

        ## II. PARTICIPAÇÃO

        1. Durante o período compreendido entre as 00h00 do dia 30 de abril de 2020 e as 23h59 do dia 31 de maio de 2020, compre o seu voucher no valor igual ou superior a 20€ com MB WAY e o MB WAY oferece-lhe 2€ extra em voucher e o valor também é ressarcido aos estabelecimentos aderentes à iniciativa. A compra tem que ser realizada através do site [preserve.pt](https://preserve.pt/). O horário é referente a Portugal Continental.

        2. Apenas as compras MB WAY através da operativa do número de telemóvel são válidas para a campanha. As compras com cartões MB NET estão excluídas da campanha.

        ## III. OFERTA

        1. O valor extra é parametrizado antes do pagamento da compra, pelo que o cliente paga o valor que iria pagar inicialmente.

        2. O valor extra é válido para compras iguais ou superiores a 20€, em [preserve.pt](https://preserve.pt/), até um valor máximo de 200€.

        3. Os vouchers poderão ser redimidos até 24 meses após a respetiva emissão.

        4. A campanha está limitada às primeiras 2500 compras MB WAY válidas no âmbito da campanha, de acordo com os presentes Termos e Condições.

        5. Caso o estabelecimento escolhido pelo Consumidor não reabra (de forma provisória ou permanente, qualquer que seja o motivo subjacente) antes do utilizador efetuar a redenção do vale adquirido, o MB WAY e a Preserve não terão qualquer responsabilidade pela infeliz situação, sendo um risco que o Consumidor, bem como o MB WAY está disposto a correr ao adquirir os vouchers.

        6. O utilizador poderá exercer o direito de resolução e cancelamento de qualquer voucher adquirido sem que lhe seja exigida qualquer indemnização, no prazo de 14 (catorze) dias a contar da data de receção do voucher. No caso do voucher adquirido consistir num voucher alvo de valor extra de 2€ adicionais pelo MB WAY, segundo os critérios estabelecidos acima nos presentes Termos e Condições, apenas o valor pago pelo utilizador será alvo de reembolso.

        ## IV. PROCESSO DE REDENÇÃO

        1. Após cada pagamento efetuado com sucesso, o utilizador receberá o seu voucher via e-mail, juntamente com um comprovativo de pagamento.

        2. O utilizador deverá dirigir-se ao estabelecimento escolhido e apresentar o seu comprovativo digital para redimir o voucher.

        3. Os vouchers apresentados no estabelecimento escolhido serão validados pelo responsável do estabelecimento, que procederá à entrega de produto/serviço equivalente ao valor do voucher entregue.


        ## V. OUTRAS CONDIÇÕES

        1. A SIBS reserva-se o direito de suspender parcial ou definitivamente a participação de participantes que incumpram qualquer das disposições constantes dos presentes Termos e Condições ou que considere terem revelado um comportamento inadequado a viabilizar a manutenção da sua participação na campanha. Neste caso, o participante não terá direito à correspondente devolução.

        2. A SIBS não se responsabiliza por qualquer prejuízo/alteração das condições à viagem ou o cancelamento da mesma.

        3. A SIBS é alheia à tipologia de negócio do parceiro onde a campanha é comunicada e qualquer limitação no parceiro é da responsabilidade do mesmo.

        4. A Preserve e a SIBS não são responsáveis, nem têm controlo, nem prestam qualquer garantia sobre a prestação dos serviços prestados pelos estabelecimentos aderentes à iniciativa, bem como sobre a qualidade, pontualidade ou qualquer outro aspeto relacionado com aqueles.

        5. Caso exista motivo atendível, a SIBS poderá introduzir, a qualquer momento, alterações a estes Termos e Condições, as quais serão efetivas após a sua divulgação com publicação em [www.mbway.pt](https://www.mbway.pt).

        6. Qualquer pedido de esclarecimento adicional sobre a presente campanha deverá ser apresentado por escrito para o e-mail [mbway@sibs.pt](mailto:mbway@sibs.pt)
