= f.hidden_field :type, value: params[:type] || @resource.model_name.param_key
= f.input :name
= f.input :slug
= f.input :place_page_copy
= f.input :voucher_copy
= f.input :large_logo
= f.input :small_logo
= f.input :restricted_category_ids, collection: Category.all, input_html: {multiple: true}
= f.input :requires_partner_id_code, as: :boolean
= f.input :min_value
= f.input :charity_value
= f.input :target_value
