.partners.bockinbusiness-test,
.partners.bockinbusiness {

  .navbar {
    align-items: flex-start;
    height: 10rem;
    padding-top: 1.5rem;
  }

  .hero-text {
    padding-bottom: 2rem;
  }

  #hero::before {
    bottom: 0;
  }

  .bockinbusiness-hero-img {
    object-fit: cover;
  }

  .partner-top-brand {
    position: absolute;
    right: 1rem;
    top: 0;
  }

  .partner-bottom-brand {
    text-align: center;
  }

  .partner-progress-bg {
    background-color: $progress-bg-color;
    border: 0;
    height: 4px;
    margin-bottom: 1rem;
    width: 100%;

    .partner-progress-fg {
      background-color: $blue;
      height: 4px;
    }
  }

  .partner-summary {
    color: $gray-400;
  }

  .partner-register .btn {
    margin-top: 2rem;
    border: 0;
  }

  .partner-register .mt-5 {
    margin-top: 0 !important;
  }


  @include media-breakpoint-up(sm) {

    .navbar {
      height: 12rem;
    }

    #hero::before {
      bottom: 0;
    }

    .places-container {
      margin-top: 6rem;
    }  

  }

  @include media-breakpoint-up(md) {
    .navbar {
      height: 14rem;
    }
  }

  @include media-breakpoint-up(lg) {
    .places-container {
      margin-top: -7rem;
    }
  }

  @include media-breakpoint-up(xl) {

    #hero::before {
      bottom: 4rem;
    }
  }
}

.partner_registrations.bockinbusiness-test,
.partner_registrations.bockinbusiness {

  .sb_direct_id,
  .sb_distributor_id {
    display: none;
  }

}
