.partners.bockinbusiness-test,
.partners.bockinbusiness {

  .navbar {
    align-items: flex-start;
    height: 10rem;
    padding-top: 1.5rem;
  }

  .hero-text {
    padding-bottom: 2rem;
  }

  #hero::before {
    bottom: 0;
  }

  .bockinbusiness-hero-img {
    object-fit: cover;
  }

  .partner-top-brand {
    position: absolute;
    right: 1rem;
    top: 0;
  }

  .partner-progress-bg {
    background-color: $progress-bg-color;
    border: 0;
    height: 4px;
    margin-bottom: 1rem;
    width: 100%;

    .partner-progress-fg {
      background-color: $blue;
      height: 4px;
    }
  }

  .partner-summary {
    color: $gray-400;
  }


  @include media-breakpoint-up(sm) {

    .navbar {
      height: 12rem;
    }

    #hero::before {
      bottom: 0;
    }

  }

  @include media-breakpoint-up(md) {
    .navbar {
      height: 14rem;
    }
  }

  @include media-breakpoint-up(xl) {

    #hero::before {
      bottom: 5rem;
    }
  }
}
