.partners.loreal {

  .navbar {
    align-items: flex-start;
    height: 14rem;
    padding-top: 1.5rem;
  }

  .loreal-hero-img {
    object-fit: cover;
  }

  .hero-bottom-images {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    width: 100vw;
  }

  .loreal-brands {
    margin-top: 1rem;
    width: 25%;
  }

  .partner-signup {
    color: $blue;
  }

  .partner-top-brand {
    max-width: 40%;
    max-height: 136px;
  }

  .partner-bottom-brand {
    margin: 4rem 0 1rem;
    padding: 0 1rem;
    text-align: center;
  }

  #how-it-works-facts {
    margin-top: 6rem;
  }

  .partner-register .btn {
    margin-top: 2rem;
    border: 0;
  }

  .partner-register .mt-5 {
    margin-top: 0 !important;
  }

  @include media-breakpoint-up(sm) {
    #hero::before {
      bottom: 10rem;
    }

    .places-container {
      margin-top: 6rem;
    }

    .partner-register > *:first-child {
      margin-top: 0;
    }
  }

  @include media-breakpoint-up(md) {
    .hero-bottom-images {
      flex-wrap: nowrap;
      width: 120%;
    }

    #hero::before {
      bottom: 6rem;
    }
  }

  @include media-breakpoint-up(lg) {
    .places-container {
      margin-top: -6rem;
    }
  }
}
