.partners.loreal {

  .navbar {
    align-items: flex-start;
    height: 14rem;
    padding-top: 1.5rem;
  }

  .loreal-hero-img {
    object-fit: cover;
  }

  .hero-bottom-images {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    width: 100vw;
  }

  .loreal-brands {
    margin-top: 1rem;
  }

  .partner-signup {
    color: $blue;
    margin-bottom: 2rem;
  }

  .partner-top-brand {
    max-width: 40%;
    max-height: 136px;
  }

  .partner-bottom-brand {
    margin: 4rem 0 1rem;
    padding: 0 1rem;
    text-align: center;
  }

  @include media-breakpoint-up(sm) {
    #hero::before {
      bottom: 10rem;
    }
  }

  @include media-breakpoint-up(md) {
    .hero-bottom-images {
      flex-wrap: nowrap;
      width: 120%;
    }

    #hero::before {
      bottom: 8rem;
    }
  }
}
