.partners.faq,
.partners.tos {

  .content {
    ol li {
      li {
        list-style-type: lower-alpha;
        li {
          list-style-type: lower-roman;
        }
      }
    }
  }
}

.partners {

  .navbar {
    align-items: flex-start;
    height: 14rem;
    padding-top: 1.5rem;

    .secondary-cta {
      border: 0;
      font-size: 1rem;
      line-height: 1rem;
      margin-left: auto;
      padding: 0;
    }

    .header-link {
      font-weight: bold;
      text-decoration: none;
    }
  }

  .header-right {
    text-align: right;

    > * + * {
      margin-left: 1.5rem !important;
    }
  }

  .search-form {
    .select2-container {
      flex: 1 1 auto !important;
    }
  }

  @include media-breakpoint-up(md) {
    .header-right {
      margin-left: auto;
    }

    .navbar {
      .secondary-cta {
        border: 2px solid var(--color-main-blue);
        line-height: 2.8rem;
        padding: 0 1rem;
      }
    }
  }
}
