.places.show {

  .place-back {
    position: absolute;
    top: 6rem;
  }

  .place-hero {
    margin-top: 6rem;

    @media only screen and (max-width: 375px) {
      margin-top: 0;
    }
  }

  .hero-text {
    h1 + p {
      opacity: .5;
    }

    .primary-cta {
      margin-top: 2rem;

      & + .secondary-cta {
        margin-left: .5rem;
      }
    }

    .secondary-cta {
      margin-top: 2rem;
    }

  }

  .discount {
    align-items: flex-start;
    display: flex;

    svg {
      flex: 0 0 1rem;
      margin-right: 5px;
      margin-top: 2px;
      width: 1rem;
    }

    .discount-text {
      font-size: 1rem;
      margin: 0;
    }
  }

  .new_voucher {
    margin-top: 4rem;
    padding: 0;
    position: relative;

    .btn {
      margin-top: 2rem;
    }

    .voucher_value {
      display: flex;
      margin: 1rem 0;
      padding-right: 1rem;
      position: relative;

      @media only screen and (max-width: 375px) {
        padding-right: 0;
      }
    }

    .form-check {
      flex: 1;
      padding-left: 0;

      & + .form-check {
        margin-left: .5rem;
      }
    }

    .voucher-mb {
      margin-left: .5rem;
    }
  }

  .radio_buttons {
    display: none;
  }

  .form-check-label {
    border: 2px solid var(--color-main-blue);
    box-sizing: border-box;
    color: var(--color-main-blue);
    display: inline-block;
    font-weight: bold;
    height: 2.5rem;
    line-height: 2.3rem;
    padding: 0 1rem;
    width: 100%;
  }

  input[type="number"]:focus {
    box-shadow: $input-box-shadow;
  }

  .selected {
    input[type="number"] {
      background-color: var(--color-main-blue);
      color: white;
    }

    &::before {
      color: white;
    }
  }

  input[type="radio"] + .form-check-label:first-of-type {
    margin-left: 0;
  }

  input[type="radio"] + .form-check-label:hover {
    background-color: var(--color-light-blue);
  }

  input[type="radio"]:checked + .form-check-label {
    background-color: var(--color-main-blue);
    color: white;
  }

  input[type="number"] {
    width: 47.7272727273%;
  }

  .euro {
    position: relative;

    input {
      padding-left: 2.5rem;
    }

    &::before {
      content: '€';
      left: 1rem;
      line-height: 3rem;
      position: absolute;
      z-index: 1;
    }
  }

  @media only screen and (max-width: 1288px) {
    .new_voucher::before {
      margin-left: -10%;
    }
  }

  @media only screen and (max-width: 768px) {

    .new_voucher {
      margin-left: 0;
      width: 100%;
    }

    .place-back {
      position: relative;
      top: -2rem;
    }

    & input[type="number"] {
      width: 100%;
    }
  }

  @media only screen and (max-width: 375px) {
    .place-hero .hero-img {
      display: block;
      position: relative;
    }

    .place-hero .row {
      display: flex;
      flex-direction: column-reverse;
    }

    .hero-img {
      margin-bottom: 2rem;
    }
  }
}
