.places.index {

  .places-container {
    margin-top: 6rem;

    .section-separator::before {
      background: var(--color-main-blue);
      content: '';
      height: 4px;
      position: absolute;
      top: 8rem;
      width: 100px;
    }
  }
}
