.seller-area {

  .img-preview {
    height: 10rem;
  }

  .discount {

    .btn-sm {
      float: right;
    }
  }

  .table {
    border-collapse: collapse;
  }

  .place_header {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
  }

  .actions {
    margin-left: auto;
  }
}
