.seller-area {

  .navbar {
    padding-bottom: 0;

    .navbar-brand {
      position: absolute;
    }
  }

  .nav-link {
    padding-right: 0 !important;
    padding-left: 0 !important;

    &.active {
      border-bottom: 2px solid $blue;
      font-weight: bold;
    }
  }

  .img-preview {
    height: 10rem;
  }

  .table {
    border-collapse: collapse;

    td {
      vertical-align: middle;
    }
  }

  .place_header {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
  }

  .actions {
    margin-left: auto;
  }

  &.vouchers.index {
    @include media-breakpoint-down(md) {
      .table .btn-sm {
        width: 80px;
        white-space: pre-wrap;
        overflow: hidden;
        height: auto;
      }
    }
  }

  .voucher-redeemed,
  .voucher-refunded {
    opacity: .5;
  }

  // Workaround for mobile navbar issues with jquery3.5.0
  @include media-breakpoint-down(md) {
    .navbar-nav {
      text-align: right;
    }

    .navbar {
      align-items: start;
    }

    .navbar-collapse {
      flex-basis: auto;
    }
  }

  @include media-breakpoint-up(md) {
    .navbar {
      .navbar-brand {
        position: static;
      }
    }
  }

  .mbway-banner {
    display: none;
  }

  @media print {
    footer,
    .mbway-banner,
    .navbar,
    .btn {
      display: none;
    }

    .table {
      font-size: 12px;
    }

    @page { size: landscape; }

  }


}
