@import 'vendor/awesomplete';
@import '0_Settings/!settings';
@import 'bootstrap/bootstrap';
@import '1_Components/!components';
@import 'tmp/hero';
@import 'tmp/kicker';
@import 'tmp/main';
@import 'tmp/search_form';
@import 'tmp/header';
@import 'tmp/footer';
// @import 'tmp/place';

.spinner-wrapper {
  position: relative;
  margin-bottom: 2rem;
}

#hero-ticker {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 4.5rem;

  @media only screen and (max-width: 375px) {
    &:after {
      display: none;
    }
  }

  &:after {
    content: '';
    width: 100%;
    height: 9px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: image-url('underline.svg');
    background-repeat: no-repeat;
  }

  span {
    display: inline-block;
    position: absolute;
    opacity: 0;
    overflow: hidden;
    animation: rotateWord 6s linear 0s infinite;
    white-space: nowrap;
  }

  @for $i from 1 to 20 {
    span:nth-child(#{$i}) {
      animation-delay: ($i - 1) * 1.2s;
    }
  }
}

@keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    transform: translateY(0px);
  }
  20% {
    opacity: 0;
    transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
