- content_for :header do
  = render "partners/#{@partner.slug}/header"

.container-xl.content
  .row
    .col-12.col-xl-8.offset-xl-2
      markdown:
        # Termos e Condições da Ação Bock In Business

        ## OBJETO/ÂMBITO DA AÇÃO

        1. PROMOVIDO pela plataforma Preserve.pt, gerida pelo movimento Tech4Covid19 (doravante &quot;Plataforma&quot; ou &quot;Preserve&quot; ou &quot;Tech4Covid&quot;), em colaboração com a Super Bock Bebidas, S.A. NIPC – 505.266.202, com sede na Via Norte, Leça do Balio, 4466-955 - Matosinhos, matriculada na Conservatória Do Registo Comercial do Porto sob o mesmo número de pessoa coletiva, com Capital Social – 38.500.000€ (doravante designada por &quot;Super Bock ou SB&quot;)

        2. Os consumidores e pontos de venda clientes da Super Bock e dos seus distribuidores oficiais deverão ler atentamente os presentes Termos e Condições (doravante designados por &quot;Termos _Bock in Business_&quot;) antes de acederem ou aderirem à ação _Bock in Business_. A adesão a esta ação estará ainda sujeita aos termos e condições previstos nos Termos e Condições de utilização da Plataforma (doravante designados por &quot;Termos Preserve&quot;). No caso de participação e adesão à ação _Bock in Business_, os Termos _Bock in Business_ prevalecem, em caso de conflito ou divergência, relativamente aos Termos Preserve. O processamento de pagamentos a estabelecimentos parceiros estará igualmente sujeito aos termos e condições e à política de privacidade entidade emissora dos meios de pagamento ou da entidade que presta os serviços de pagamento.

        3. Estes Termos _Bock in Business_ regulamentam a adesão à ação _Bock in Business_ e constituem um acordo vinculativo (doravante designado por &quot;Acordo SB&quot;) entre o Consumidor (doravante &quot;Consumidor&quot;), os Pontos de Venda Elegíveis e a Super Bock,em complemento ao acordo decorrente dos Termos Preserve, que regulamenta o acesso e uso do website da Preserve e da Plataforma (conforme definidos nos referidos Termos Preserve).

        ## II. FINALIDADE DA ACÇÃO

        1. _Bock in Business_ é uma iniciativa de colaboração entre da Super Bock e a Tech4Covidna Plataforma, com a colaboração da entidade de pagamento EuPago, que tem poro objetivo de apoiar os retalhistas/ pontos de venda que vendam produtos SB (doravante &quot;PdV SB&quot;), no contexto atual de estado de emergência por força do COVID-19 (que ditou o encerramento temporário de muitos estabelecimentos).
        Tal apoio concretiza-se na promoção/divulgação da aquisição de vouchers, os quais poderão ser trocados por produtos/serviços, no valor correspondente ao voucher adquirido, aquando da reabertura dos estabelecimentos dos PdV SB, sendo que, por cada voucher adquirido, a Super Bock (sujeito aos limites de valor e quantidade definidos em baixo), atribuirá um incentivo adicional aos PdV SB (e consequentemente aos Consumidores) – ver condições de vouchers abaixo.

        ## III. COMO FUNCIONA A AÇÃO

        1. A Preserve (preserve.pt) é uma plataforma online desenvolvida pela Tech4Covid, com o objetivo de ajudar estabelecimentos que, decorrente do surto de Covid-19, se encontram em situação de crise. Com a colaboração da SuperBock, a Tech4Covid desenvolveu uma Plataformasub-página paralela (bockinbusiness.preserve.pt) através da qual A Super Bock, em colaboração com a Tech4Covid19, desenvolveu uma página na Plataforma preserve.pt (bockinbusiness.preserve.pt), na qual os Consumidores da Plataforma podem adquirir adquirir voucher relativos a produtos e serviços da SB diretamente aos Pdv SB , diretamente, vouchers relativos a produtos e serviços disponibilizados pelos PdV SB que tenham expressa e previamente aderido à iniciativa e se tenham inscrito na referida Plataforma.

        2. Esses vouchers serão, posteriormente, trocados por produtos ou serviços logo que os estabelecimentos dos PdV SB reabram. Por cada voucher adquirido, a Super Bock atribuirá um incentivo/bonificação adicional de 5€, o qual somará ao montante do voucher adquirido pelo Consumidor SB. Por exemplo, se o Consumidor SB adquirir um voucher de 10€ para troca no PdV SB escolhido, a Super Bock atribuirá um incentivo/bonificação adicional de 5€, o qual será também transferido para a conta do PdV SB, e que permitirá ao Consumidor SB beneficiar de 5€ adicionais, que poderá trocar por serviços/produtos no estabelecimento do PdV SB quando este reabrir – ver condições de vouchers infra.
          1. A bonificação a atribuir pela Super Bock nos termos dos presentes Termos _Bock in Business_ está limitada, apenas e só, a PdV SB (englobando-se aqui os PdV que são clientes diretos da SB em Portugal Continental e nas Ilhas, bem como os PdV dos Distribuidores da SB) que tenham expressa e previamente aderido à iniciativa e se tenham inscrito na referida Plataforma (e correspondente registo na Eupago), não sendo atribuíveis a quaisquer outros parceiros ou estabelecimentos registados na Plataforma preserve.pt.
          2. A página desenvolvida para este efeito, na Plataforma preserve.pt, será divulgada através dos meios de comunicação digital da Super Bock e dos meios de comunicação digital disponibilizados pela Tech4Covid.

        ## IV. CONDIÇÕES DOS VOUCHERS

        ### A. Processo de redenção:

        1. Após cada pagamento efetuado com sucesso, o Consumidor SB receberá o seu voucher via e-mail, juntamente com um comprovativo de pagamento.
        2. O Consumidor SB deverá dirigir-se ao estabelecimento do PdV SB escolhido e apresentar o seu comprovativo digital para redimir o voucher.
        3. Os vouchers apresentados no PdV SB serão validados pelo responsável do estabelecimento, que procederá à entrega de produto/serviço equivalente ao valor do voucher entregue.
        4. A Preserve e a Super Bock não são responsáveis, nem têm controlo, nem prestam qualquer garantia sobre a prestação dos serviços prestados pelos Parceiros SB, bem como sobre a qualidade, pontualidade ou qualquer outro aspeto relacionado com aqueles.

        ### B. Validade dos vouchers:

        1. Cada voucher adquirido será válido e limitado a uma única utilização.
        2. Não é permitida a reprodução, edição, manipulação ou revenda dos vouchers. Em caso de suspeita fundamentada de ocorrência de qualquer uma dessas ações, a Preserve ou a Super Bock, reservam-se o direito de tomar todas as medidas que entendam por adequadas, nomeadamente junto do respetivo PdV SB e das autoridades competentes.
        3. Os vouchers referentes à ação _Bock in Business_ estarão disponíveis para aquisição em [bockinbusiness.preserve.pt](http://www.bockinbusiness.preserve.pt/) até ao dia 17 de maio de 2020. Outros vouchers regulares, que não associados a esta ação, poderão continuar a ser adquiridos na Plataforma, salvaguardando decisão da mesma em terminar a venda dos mesmos.
        4. Os vouchers referentes à ação _Bock in Business_ poderão ser redimidos 24 meses após a respetiva emissão.

        ### C. Valor de vouchers:

        1. O Consumidor SB poderá adquirir vales entre 10€ e um máximo de 200€;
        2. O número de vouchers que cada Consumidor SB pode adquirir para ajudar os seus estabelecimentos de PdV SB favoritos é ilimitado, sendo, no entanto, a bonificação adicional de 5€ pela Super Bock limitada, aplicando-se exclusivamente às seguintes condições:
          1. oferta de 5€ adicionais é limitada aos primeiros 4000 vouchers
          2. oferta de 5€ adicionais é limitada aos primeiros 14 vouchers de consumo (representam um mínimo de 210€) adquiridos para cada PdV SB. Este limite existe para garantir que o valor de oferta da Super Bock se espalha pelo maior número de PdV possíveis.
        3. A quantidade de produto ou de serviços equivalente ao valor do voucher entregue no momento de redenção será determinada pelo Preço de Venda ao Público (doravante &quot;PVP&quot;) do produto ou serviços em vigor no estabelecimento do PdV SB em questão. Caso o Consumidor SB pretenda adquirir maior quantidade de produto ou serviço do que aquela a que o voucher corresponde face ao PVP praticado no estabelecimento do PdV SB em questão, o Consumidor SB deverá efetuar o pagamento da quantidade excedente ao PdV SB. A definição dos preços e de todas as demais condições de venda dos produtos/serviços é da exclusiva responsabilidade e decisão dos PdV SB, não tendo a SB ou Preserve qualquer intervenção neste processo, seja de que forma for.
        4. Caso o PdV SB escolhido pelo Consumidor não reabra (de forma provisória ou permanente, qualquer que seja o motivo subjacente) antes do Consumidor SB efetuar a redenção do vale adquirido, a Super Bock e a Preserve não terão qualquer responsabilidade pela infeliz situação, sendo um risco que o Consumidor , bem como a Superbock estão está dispostos a correr ao adquirir os vouchers.

        ### D. Cancelamento e Reembolso de Vouchers Adquiridos

        O Consumidor poderá exercer o direito de resolução e cancelamento de qualquer voucher adquirido sem que lhe seja exigida qualquer indemnização, no prazo de 14 (catorze) dias a contar da data de receção do voucher.
        No caso do voucher adquirido consistir num voucher alvo de bonificação de 5€ adicionais pela Super Bock segundo os critérios estabelecidos acima nos presentes Termos _Bock in Business_, apenas o valor pago pelo Consumidor SB será alvo de reembolso.

        ### F. Pagamento e Faturação de Vouchers

        Os termos de pagamento e faturação dos vouchers a adquirir através da Plataforma são definidos de acordo com as condições da Plataforma de Pagamento Eupago e do Parceiro em questão, tal como previsto nos termos da Preserveestão previstos nos Termos Preserve. Como tal, a aquisição de vouchers a PdV SB estará, conforme referido em cima, sujeita a esses termos, cujas condições mais relevantes indicamos de seguida por uma questão de facilidade, devendo os mesmos interpretar-se de acordo com as definições estabelecidas nos Termos Preserve e, relativamente a Consumidores adquirentes de vouchers a PdV SB, de forma adaptada aos _Termos Bock in Business_:

          1. _A utilização da Plataforma é gratuita;_
          2. _O Utilizador pode, a qualquer momento, solicitar o cancelamento da sua conta._
          3. _O valor do voucher é definido pelo Utilizador que decidirá o montante que pretende atribuir;_
          4. _Os preços dos vouchers são fixados em euros e os pagamentos deverão ser realizados nessa moeda ao Parceiro._
          5. _Os pagamentos deverão ser realizados através da Instituição de Pagamento Eupago._
          6. _A aceitação de pagamentos pelo Parceiro obriga ao seu registo na Eupago aquando do registo na Plataforma._
          7. _O processamento de pagamentos está sujeito aos Termos e Condições e à Política de Privacidade do emissor dos meios de pagamento ou da Instituição que presta os Serviços de pagamento._
          8. _É da inteira responsabilidade do Utilizador promover as operações bancárias e eventuais autorizações que o habilitem a realizar compras online._
          9. _O processo de faturação estará a cargo da Eu Pago. A Preserve e Super Bock não tem qualquer intervenção a este_ propósito.

        _Os Pagamentos dos vouchers, feitos pelos Consumidores aos PdV SB corretamente registados, deverão ser recebidos em poucos dias. No caso de o voucher ter direito à bonificação de 5€ por parte da SB, este dinheiro deverá ser recebido no prazo de aproximadamente 3 semanas após a compra do voucher, por motivos de gestão e controlo de devoluções._

        Se o método de distribuição e validação de vouchers for alterado, o Consumidor será avisado por email e deverá substituir os vouchers entretanto recebidos (que se tornarão inválidos) pelos novos, sem prejuízo para si

        ## V. REGISTO E CONDIÇÕES DE ADESÃO DE PONTOS DE VENDA

        1. Estão abrangidos na ação _Bock in Business_ todos os PdV SB (clientes diretos da Super Bock e seus distribuidores, com indicação prévia destes), que devem registrar-se através do seguinte link [bockinbusiness.preserve.pt](http://www.bockinbusiness.preserve.pt/) para participar nesta campanha de solidariedade.
        2. Para criar uma conta na Plataforma, os PdV SB aderentes deverão facultar as informações requeridas na Plataforma e realizar o Registo na EuPago.
        3. Ao registar-se, os PdV SB comprometem-se a efetuar o serviço correspondente ao valor do voucher adquirido pelos Consumidores na Plataforma preserve.pt, mediante a sua apresentação em PdV SB após a reabertura dos mesmos ao público e por um período de 24 meses após a sua aquisição.
        4. A redenção do valor dos vouchers em serviços/produtos a efetuar pelo PdV SB deverá ter por base o PVP em vigor no seu estabelecimento.
        5. Os PdV SB só poderão receber valores pagos pelos Consumidores na aquisição de vouchers se todas as informações forem inseridas corretamente no registo da ação _Bock in Business_ e após concluírem o respetivo registo, também assegurando a validade dos dados, junto da entidade que processa o pagamento EuPago. A Super Bock e a Preserve.pt não se responsabilizam por qualquer pagamento que não seja possível efetuar por imprecisão ou falta de dados fornecidos pelo PdV SB em questão.
        6. A ação Bock in Business estará atualmente limitada a 5000 registos, de forma a assegurar o bom funcionamento da Plataforma e processo logístico de implementação da ação.
        7. A Preserve pode, diretamente ou com base em indicação da Super Bock, a qualquer momento, cancelar ou eliminar contas caso alguma das partes não cumpra os Termos Preserve ou os presentes Termos _Bock in Business_, ceda a sua posição a terceiros sem a prévia autorização por escrito da Preserve e da SBB e/ou atuar de forma a acarretar prejuízos para as partes ou para o PdV SB em questão.

        ## VI. RESPONSABILIDADE DOS PDV SB ADERENTES

        1. É da total responsabilidade dos PdV SB aderentes a liquidação do imposto da receita gerada, em função do produto/serviço adquirido pelo consumidor, na data do resgate do voucher, ou na sua data de término de validade, quando esta não for respeitada. Deve incluir todos os pagamentos recebidos na sua faturação, sendo de sua responsabilidade cumprir as obrigações contabilísticas e fiscais a que está sujeito.
        2. Os PdV SB são os únicos responsáveis pelos conteúdos publicados. Qualquer informação, dados, textos, links ou outros materiais são da responsabilidade exclusiva dos mesmos.
        3. Não obstante as regras definidas e a diligência e zelo a que a Preserve e a Super Bock se propõem, não é possível um controlo de forma exaustiva dos conteúdos disponibilizados pelos PdV SB ou demais parceiros associados e, por isso não é possível à Preserve e à Super Bock garantir a correção, qualidade, integridade, precisão ou veracidade daqueles.
        4. A Preserve reserva-se ainda o direito de, por iniciativa própria e, eventualmente, com base em indicação da Super Bock para o efeito, retirar do website qualquer mensagem que contrarie as regras que defende para o bom funcionamento do website, nomeadamente as de carácter obsceno, maldoso, assediante, difamatório, prejudicial, ameaçador, calunioso, ofensivo, ilegal, racista, sexualmente tendencioso, publicitário e invasivo da privacidade de terceiros.
        5. A Super Bock destaca e ressalva que esta é uma ação de solidariedade, que tem em consideração e na base o pressuposto de um comportamento justo e correto por parte de Consumidores SB e dos PdV SB aderentes. Neste contexto, se existirem indícios de má-fé ou fraude, a Super Bock, Preserve e EuPago reservam-se o direito de não validar a transferência dos valores de aquisição de vouchers e, bem assim, a não efetuar o pagamento das bonificações de acordo com os presentes Termos _Bock in Business_, para os PdV SB aderentes.
        6. Esta ação _Bock in Business_ é promovida através da Plataforma Preserve.pt e a gestão do processo de pagamento efetuado através do parceiro Eu Pago. Caso se verifique incumprimento dos termos estabelecidos no âmbito previsto da ação por qualquer interveniente acima mencionado, ou seja, verificada má conduta por parte de PdV SB ou Consumidor SB, a Super Bock reserva-se o direito de tomar todas as medidas que entenda por adequadas, nomeadamente junto da Preserve, do respetivo parceiro Eu Pago, dos PdV SB, dos Consumidores SB e das autoridades competentes.

        ## VII. TRATAMENTO DE DADOS PESSOAIS

        1. As pessoas singulares que constituem o movimento Tech4Covid assumem a qualidade de Responsáveis Conjuntas pelo Tratamento dos seus dados pessoais sendo responsáveis pela gestão da plataforma https://bockinbusiness.preserve.pt/, e conjuntamente responsáveis pelo tratamento dos dados pessoais transmitidos pelos utilizadores da referida plataforma (PdV SB e consumidores) comprometendo-se a observar e a dar estrito cumprimento às normas legais decorrentes de legislação portuguesa, comunitária e/ou internacional que lhes sejam aplicáveis, designadamente aquelas que decorrem do Regulamento (UE) n.º 2016/679, do Parlamento Europeu e do Conselho de 27 de abril de 2016 (doravante RGPD).
        2. Por dados pessoais entende-se toda a informação relativa a uma pessoa singular identificada ou passível de ser identificada. No âmbito da presente iniciativa, serão tratados os seguintes dados pessoais:
          1. Dos representantes dos PdV SB: Nome, e-mail, NIF.
          2. Dos consumidores: e-mail (obrigatório) e NIF (opcional).
        3. Os dados pessoais recolhidos serão utilizados para efeito de adesão à ação Bock In Business e registo na Plataforma, para eventual validação e gestão da participação dos PdV SB e, ainda, para garantir o pagamento dos valores de aquisição de vouchers e, bem assim, o pagamento das bonificações. Os dados pessoais recolhidos afiguram-se como adequados e necessários à prossecução de tais finalidades.
        4. A participação na presente ação implica, necessariamente, o tratamento dos dados pessoais acima identificados como obrigatórios. Se tais dados não forem facultados não poderá aderir ou participar na ação &quot;Bock in Business&quot;. A base de licitude do tratamento é a execução de um contrato, que se celebra através da aceitação dos termos e condições de participação previstos no presente documento.
        5. Todos os dados pessoais recolhidos no âmbito da presente ação serão disponibilizados e tratados na plataforma &quot;preserve.pt&quot;, que é totalmente controlada e gerida pela Tech4Covid, a qual é exclusivamente responsável pela definição, implementação e controlo das medidas técnicas e organizativas necessárias para garantir a segurança das operações de tratamento de dados realizadas no âmbito da presente iniciativa.
        6. A Super Bock não é responsável pelo tratamento dos dados no âmbito da Plataforma, uma vez que não tem acesso aos dados nem tem qualquer interferência na gestão técnica da plataforma. Nesta medida, aconselha-se uma leitura atenta da política de privacidade da plataforma Preserve.pt, disponível em [https://preserve.pt/privacy](https://preserve.pt/privacy).
        7. A Tech4Covid poderá ter que transmitir informação (que não deverá conter dados pessoais) à Super Bock de PdV SB registados na Plataforma, para confirmação que estes PdV SB são efetivamente clientes da Super Bock, que podem usufruir das vantagens desta ação. Em caso algum serão transmitidos à Super Bock dados de consumidores.
        8. Os seus dados pessoais poderão ser partilhados com terceiros, mais concretamente prestadores de serviços individuais ou similares, nomeadamente, para o alojamento do website e correio eletrónico, ou para o prestador de serviços de pagamento, a Eupago. Apenas serão partilhados os dados necessários para a prestação dos serviços em causa.
        9. É garantido aos utilizadores da plataforma, independentemente da qualidade com que atuem, o direito de acesso, retificação, retirada de consentimento, oposição ao tratamento para os fins anteriormente definidos, apagamento, limitação e portabilidade dos dados pessoais que tiverem transmitido. Os direitos dos utilizadores atrás referidos poderão ser exercidos junto da Tech4Covid a todo e qualquer momento, bastando, para esse efeito, que os interessados enviem por escrito tais pedidos para o seguinte endereço de e-mail: [info@preserve.pt](mailto:info@preserve.pt).
        10. Sem prejuízo do referido no parágrafo anterior, os utilizadores da Plataforma que tenham transmitido os seus dados pessoais poderão ainda apresentar, sempre que o considerem pertinente, reclamação junto da Autoridade Nacional de Controlo (Comissão Nacional de Proteção de Dados – CNPD), cujos contactos podem ser consultados em https://www.cnpd.pt/.

        ## VIII. CONDIÇÕES GERAIS

        1. A participação na ação _Bock in Business_ implica a aceitação, pelos participantes aderentes, dos termos e condições previstos nos presentes Termos _Bock in Business_ e, bem assim, dos Termos Preserve. Quaisquer aspetos que não se encontrem regulados ou tratados nestes Termos _Bock in Business_ considerar-se-ão regulados pelos Termos Preserve ou, na ausência de regulação ou tratamento nestes, pela Lei Portuguesa aplicável e vigente.
        2. A Super Bock reserva-se o direito de, em articulação com a Preserve e sujeito aos demais Termos _Bock in Business_ e Termos Preserve, eliminar qualquer participante, PdV SB ou Consumidor SB, que esteja de alguma forma a violar os presentes Termos _Bock in Business_.
        3. A Super Bock reserva-se o direito de, em qualquer altura e de forma discricionária, alterar, mover para outro meio, suspender ou cancelar a presente ação, sem prejuízo de se comprometer a considerar os direitos dos PdV SB e Consumidores SB que, até à data do cancelamento da ação, tenham aderido à mesma e adquirido vouchers.
        4. Os elementos solicitados no ato da adesão, são obrigatórios para a participação nesta ação.
        5. A participação na ação _Bock in Business_ destina-se a Consumidores SB maiores de 18 anos.
        6. A aquisição de vouchers não será considerada válida em caso de suspeita fundamentada de aquisição por Consumidores SB menores de 18 anos, pelos próprios PdV aderentes ou donos dos mesmos, ou qualquer pessoa que o faça como parte de meios ou intenções fraudulentas ou abusivas à iniciativa. A Preserve e a Super Bock, reservam-se o direito de tomar todas as medidas que entendam por adequadas, nomeadamente junto do respetivo PdV SB e das autoridades competentes, podendo incorrer uma ação legal

        ## IX. RESOLUÇÃO DE CONFLITOS

        Qualquer divergência ou questão que surja entre as partes, relativa à interpretação ou aplicação destes Termos _Bock in Business_, será submetida ao tribunal da comarca do Porto, com expressa renúncia a qualquer outro, salvo norma imperativa que disponha de forma diversa.

        ## X. ACEITAÇÃO DAS CONDIÇÕES

        Todos os Consumidores e PdV SB que aderirem à ação _Bock in Business_ aceitam implicitamente os termos e condições estabelecidos no presente documento.

        Leça do Balio, 15 de abril de 2020